<% if audiences.any? %>
  <% audiences.each.with_index do |audience, index| %>
    <% if audience[:actions].any? %>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l action-audience__heading"><%= audience[:heading] %></h2>
        </div>
        <div class="govuk-grid-column-full" data-analytics-ecommerce data-ecommerce-start-index="1" data-list-title="Brexit checker results: <%= audience[:heading] %>" data-search-query>
          <%= render "action_list", {
            audience_heading: audience[:heading],
            audience_index: index + 1,
            items: audience[:actions]
          } %>
        </div>
      </div>
    <% end %>
  <% end %>
  <p class="govuk-body brexit-checker-actions__description">
    <%= action_based_description %>
  </p>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body"><%= t("brexit_checker.action_audiences.no_results") %></p>
    </div>
  </div>
<% end %>
