<% if audiences.any?  %>
  <section class="brexit-checker-actions">
    <% audiences.each do |audience| %>
      <section class="brexit-checker-audience">
        <% if audience[:groups].any? %>
          <header>
            <h2 class="govuk-heading-l action-audience__heading">
              <%= audience[:heading] %>
            </h2>
          </header>
          <% audience[:groups].each.with_index do |group, group_index| %>
            <% ecommerce_list = group[:heading].nil? ? audience[:heading] : group[:heading] %>
            <section class="brexit-checker-actions__group" data-analytics-ecommerce data-ecommerce-start-index="1" data-list-title="Brexit checker results: <%= ecommerce_list %>" data-search-query>
              <div class="govuk-grid-row">
                <%= render 'results_criteria', criteria: group[:criteria], heading: group[:heading] %>
                <div class="govuk-grid-column-two-thirds">
                  <% analytics_group = "#{audience[:heading]} #{" - #{group[:heading]} - " if !group[:heading].nil?}#{group_index + 1}." %>
                  <%= render "action_list", {
                    analytics_group: analytics_group,
                    priority: group[:priority],
                    actions: group[:actions]
                  } %>
                </div>
              </div>
            </section>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </section>
<% else %>
  <div class="brexit-checker__no-results">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render 'results_criteria', criteria: format_criteria(@criteria) %>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body brexit-checker__no-results-warning"><%= t("brexit_checker.action_audiences.no_results") %></p>
      </div>
    </div>
  </div>
<% end %>
