<% heading_level ||= 4 %>
<% heading_tag = "h#{heading_level}"%>

<% actions.each.with_index do | action, index | %>
  <div class="govuk-grid-row brexit-checker__action">
    <div class="brexit-checker__content-wrapper">
      <% if action.urgent? && show_variant? %>
        <div class="brexit-checker__action-urgent">
        <strong class="govuk-tag brexit-checker__action-urgent-tag">Urgent</strong>
      <% end %>
      <%= content_tag(heading_tag, class: "govuk-body brexit-checker__action_title") do %>
        <% if action.title_url.present? %>
          <a
            class="govuk-link"
            href="<%= action.title_url %>"
            data-module="track-click"
            data-track-action="<%= "#{analytics_group}#{index + 1}"%> - Action"
            data-track-category="brexit-checker-results"
            data-track-label="<%= action.title_url %>"
            data-ecommerce-row
            data-ecommerce-path="<%= action.title_path %>"
          ><%= action.title %></a>
        <% else %>
          <%= action.title %>
        <% end %>
      <% end %>
      <% if action.lead_time.present? %>
        <div class="govuk-body">
          <%= render "govuk_publishing_components/components/inset_text", text: action.lead_time %>
        </div>
      <% end %>

      <% if action.consequence.present? %>
        <p class="govuk-body">
          <%= action.consequence %>
        </p>
      <% end %>
      <% if action.exception.present? %>
        <p class="govuk-body">
          <%= action.exception %>
        </p>
      <% end %>

      <% if action.guidance_url.present? %>
        <div class="govuk-body govuk-!-font-size-16">
          <p>
            <%= action.guidance_prompt || t("brexit_checker.action_list.guidance_prompt") %>:
          </p>
          <p>
            <a
              href="<%= action.guidance_url %>"
              class="govuk-link"
              data-module="track-click"
              data-track-action="<%= "#{analytics_group}#{index + 1}"%> - Guidance"
              data-track-category="brexit-checker-results"
              data-track-label="<%= action.guidance_url %>"
              data-ecommerce-row
              data-ecommerce-path="<%= action.guidance_path %>"
            ><%= action.guidance_link_text %></a>
          </p>
        </div>
      <% end %>
      <% if action.urgent? && show_variant? %>
        <%# closing div from .brexit-checker__action-urgent %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
