<% actions.each.with_index do | action, index | %>
      <p class="govuk-body govuk-!-font-weight-bold">
        <% if action.title_url.present? %>
          <a
            class="govuk-link"
            href="<%= action.title_url %>"
            data-module="track-click"
            data-track-action="<%= audience_heading %> <%= action_index %> - Action"
            data-track-category="brexit-checker-results"
            data-track-label="<%= action.title_url %>"
            data-ecommerce-row
            data-ecommerce-path="<%= action.title_path %>"
          ><%= action.title %></a>
        <% else %>
          <%= action.title %>
        <% end %>
      </p>

      <% if action.consequence.present? %>
        <p class="govuk-body govuk-!-font-size-16">
          <%= action.consequence %>
        </p>
      <% end %>
      <% if action.exception.present? %>
        <p class="govuk-body govuk-!-font-size-16">
          <%= action.exception %>
        </p>
      <% end %>

      <% if action.guidance_url.present? %>
          <p>
            <%= action.guidance_prompt || t("brexit_checker.action_list.guidance_prompt") %>:
          </p>
          <p>
            <a
              href="<%= action.guidance_url %>"
              class="govuk-link"
              data-module="track-click"
              data-track-action="<%= audience_heading %> <%= action_index %> - Guidance"
              data-track-category="brexit-checker-results"
              data-track-label="<%= action.guidance_url %>"
              data-ecommerce-row
              data-ecommerce-path="<%= action.guidance_path %>"
            ><%= action.guidance_link_text %></a>
        </p>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <% if action.lead_time.present? %>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold brexit-checker-result__leadtime">
          <%= action.lead_time %>
        </p>
      <% end %>
    </div>
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>
<% end %>
