<% if audiences.any?  %>
  <section class="brexit-checker-actions">
    <% audiences.each do |audience| %>
      <section class="brexit-checker-audience">
        <% if audience[:groups].any? %>
          <header>
            <h2 class="govuk-heading-l action-audience__heading">
              <%= audience[:heading] %>
            </h2>
          </header>
          <% audience[:groups].each do |group| %>
            <section class="brexit-checker-actions__group">
              <div class="govuk-grid-row">
                <%= render 'results_criteria', criteria: group[:criteria], heading: group[:heading] %>
                <div class="govuk-grid-column-two-thirds">
                  <%= render "action_list", {
                    heading: group[:heading],
                    priority: group[:priority],
                    actions: group[:actions]
                  } %>
                </div>
              </div>
            </section>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </section>
<% else %>
  <div class="brexit-checker__no-results">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render 'results_criteria', criteria: format_criteria(@criteria) %>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body brexit-checker__no-results-warning"><%= t("brexit_checker.action_audiences.no_results") %></p>
      </div>
    </div>
  </div>
<% end %>
