<section class="brexit-checker-actions">
  <header class="action-audience__heading">
     <%= render "govuk_publishing_components/components/heading", {
          text: t('brexit_checker.results.audiences.citizen.heading'),
          heading_level: 2,
          font_size: "l",
          margin_bottom: 0
      } %>
  </header>
  <section class="brexit-checker-audience">
    <% citizen_results_groups.each.with_index do |grouping, group_index| %>
      <section
        class="brexit-checker-actions__group"
        data-analytics-ecommerce
        data-ecommerce-start-index=<%="#{group_index + 1}"%>
        data-list-title="Brexit checker results: <%= "#{t('brexit_checker.results.audiences.citizen.heading')} - #{grouping[:group].heading}" %>"
        data-search-query
      >
        <div class="govuk-grid-row">
          <%= render 'results_criteria', criteria: grouping[:criteria], heading: grouping[:group].heading %>
          <div class="govuk-grid-column-two-thirds">
            <%= render "action_list", {
              analytics_group: "#{t('brexit_checker.results.audiences.citizen.heading')} - #{grouping[:group].heading} - #{group_index + 1}.",
              actions: grouping[:actions]
            } %>
          </div>
        </div>
      </section>
    <% end %>
  </section>
</section>
