<% content_for :title, t('brexit_checker.email_signup.title') %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
      collapse_on_mobile: true,
      breadcrumbs: [
        {
          title: t('brexit_checker.breadcrumbs.home'),
          url: "/"
        },
        {
          title: t('brexit_checker.breadcrumbs.brexit-home'),
          url: "/transition"
        },
        {
          title: t('brexit_checker.breadcrumbs.results'),
          url: transition_checker_results_path(c: criteria_keys)
        }
      ]
    } %>
  </div>
<% end %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
          text: t('brexit_checker.email_signup.sign_up_heading'),
          heading_level: 1,
          font_size: "l",
          margin_bottom: 6
        } %>
        <%= t('brexit_checker.email_signup.sign_up_message').html_safe %>
        <ul class="govuk-list govuk-list--bullet">
          <%= t('brexit_checker.email_signup.sign_up_message_criteria').html_safe %>
        </ul>
        <%= form_tag transition_checker_confirm_email_signup_path(c: criteria_keys), id: "checklist-email-signup" do %>
          <%= render "govuk_publishing_components/components/button", {
            text: t('brexit_checker.email_signup.sign_up_button'),
            inline_layout: true,
            data_attributes: {
              module: "gem-track-click",
              "track-category": "transition-email-alert",
              "track-action": "subscribe",
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
