<%
  action_based_email_link_label = @actions.any? ? t('brexit_checker.results.email_sign_up_link') : t('brexit_checker.results.email_sign_up_link_no_actions')
  action_based_title            = if @actions.any?
                                    t('brexit_checker.results.title')
                                  elsif criteria_keys.present?
                                    t('brexit_checker.results.title_no_actions')
                                  else
                                    t('brexit_checker.results.title_no_answers')
                                  end
  action_based_description      = if @actions.any?
                                    t('brexit_checker.results.description')
                                  elsif criteria_keys.present?
                                    t('brexit_checker.results.description_no_actions')
                                  else
                                    t('brexit_checker.results.description_no_answers')
                                  end
%>

<% content_for :title, action_based_title %>
<% content_for :head do %>
  <% page_url = request.base_url + request.path %>
  <meta name="govuk:search-result-count" content="<%= @actions.count %>">
  <meta name="robots" content="noindex">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= page_url %>">
  <meta property="og:title" content="<%= t('brexit_checker.results.social_media_meta.title') %>">
  <meta property="og:description" content="<%= t('brexit_checker.results.social_media_meta.description') %>">
  <meta name="twitter:card" content="summary">
  <link rel="canonical" href="<%= page_url %>">
<% end %>

<div class="govuk-width-container brexit-checker-results-page">
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: [
    {
      title: t('brexit_checker.breadcrumbs.home'),
      url: "/"
    },
    {
      title: t('brexit_checker.breadcrumbs.brexit-home'),
      url: "/brexit"
    },
    {
      title: t('brexit_checker.breadcrumbs.brexit-check'),
      url: "/get-ready-brexit-check"
    }
  ] %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: action_based_title
      } %>
      <% unless @actions.any? %>
        <p class="govuk-body-l">
          <%= action_based_description %>
        </p>
      <% end %>
      <% unless criteria_keys.present? %>
        <p class="govuk-body-l">
          <%= render "change_answers_link" %>
        </p>
      <% end %>
    </div>
  </div>

  <% if criteria_keys.present? %>
    <%= render 'components/email_link', {
      data_attributes: {
        "module": "track-click",
        "track-action": action_based_email_link_label,
        "track-category": "StayUpdated",
        "track-label": brexit_checker_email_signup_path
      },
      link_text: action_based_email_link_label,
      link_href: brexit_checker_email_signup_path(c: criteria_keys),
      link_title: t("brexit_checker.results.email_sign_up_title"),
    } %>

    <%= render 'action_audiences', criteria: @criteria, audiences: format_action_audiences(@actions, @criteria), action_based_description: action_based_description %>
    <%= render 'stay_updated' %>
  <% end %>
</div>
