<% content_for :title, t('brexit_checker.confirm_changes.title') %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<div class="govuk-width-container">
  <%= render 'govuk_publishing_components/components/breadcrumbs', {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: t('brexit_checker.breadcrumbs.home'),
        url: "/"
      },
      {
        title: t('brexit_checker.breadcrumbs.brexit-home'),
        url: "/transition"
      },
      {
        title: t('brexit_checker.breadcrumbs.results'),
        url: transition_checker_results_path(c: criteria_keys)
      }
    ]
  } %>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render "govuk_publishing_components/components/heading", {
            text: t('brexit_checker.confirm_changes.heading'),
            font_size: "xl",
            heading_level: 1,
          } %>

        <p class="govuk-body">Old criteria keys: <code><%= @old_criteria_keys %></code></p>
        <p class="govuk-body">New criteria keys: <code><%= criteria_keys %></code></p>

        <%= form_tag transition_checker_save_results_confirm_path(c: criteria_keys), method: :post do %>
          <%= render "govuk_publishing_components/components/button", {
            text: t('brexit_checker.confirm_changes.save_button'),
            inline_layout: true,
          } %>
        <% end %>
      </div>
    </div>
  </main>
</div>
