<% @omit_feedback_footer = true %>

<% content_for :title, t("brexit_checker.confirm_changes.initial.title") %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  font_size: "xl",
  heading_level: 1,
  margin_bottom: 6,
} %>

<p class="govuk-body"><%= t("brexit_checker.confirm_changes.initial.explainer") %></p>

<p class="govuk-body"><strong class="govuk-!-font-weight-bold"><%= subscriber_list_options["title"] %></strong></p>

<%= form_tag transition_checker_save_results_confirm_path(c: criteria_keys), method: :post do %>
  <%= render "govuk_publishing_components/components/button", {
    text: t("brexit_checker.confirm_changes.initial.save_button"),
    margin_bottom: 4
  } %>
<% end %>

<p class="govuk-body"><%= t("brexit_checker.confirm_changes.initial.cancel_html") %></p>
