<%
  title ||= false
  open_on_load ||= false
  margin_bottom ||= 0

  content_id = "expander-content-#{SecureRandom.hex(4)}"
  shared_helper = GovukPublishingComponents::Presenters::SharedHelper.new(local_assigns)

  css_classes = %w( app-c-expander )
  css_classes << (shared_helper.get_margin_bottom) unless margin_bottom == 0
%>
<% if title %>
  <%= tag.div class: css_classes, data: { module: "expander", 'open-on-load': open_on_load } do %>
    <div class="app-c-expander__title js-toggle">
      <%= title %>
      <span class="govuk-accordion__icon" aria-hidden="true"></span>
    </div>

    <div class="app-c-expander__content js-content <%= 'app-c-expander__content--visible' if open_on_load %>" id="<%= content_id %>">
      <%= yield %>
    </div>
  <% end %>
<% end %>
