<%
  raise ArgumentError, "button_text is required" unless local_assigns[:button_text]

  id_suffix = SecureRandom.hex(4)
  panel_content_id = "filter-panel-#{id_suffix}"
  button_id = "filter-button-#{id_suffix}"
  result_text ||= ""
  section_count ||= ""

  show_reset_link ||= false
  raise ArgumentError, "reset_link_href is required" if show_reset_link && !local_assigns[:reset_link_href]

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_data_attribute({ module: "filter-panel ga4-event-tracker" })
  component_helper.add_class("app-c-filter-panel")
%>
<%= tag.div(**component_helper.all_attributes) do %>
  <div class="app-c-filter-panel__header">
    <%= tag.button(
      id: button_id,
      class: "app-c-filter-panel__button govuk-link",
      aria: { expanded: "false", controls: panel_content_id },
      data: {
        ga4_expandable: "",
        ga4_event: {
          event_name: "select_content",
          type: "finder",
          section: button_text,
          text: button_text,
          index_section: 0,
          index_section_count: section_count
        }
      }
    ) do %>
      <%= tag.span(button_text, class: "app-c-filter-panel__button-inner") %>
    <% end %>

    <% if result_text.present? %>
      <%= tag.h2(result_text, id: "js-result-count", class: "app-c-filter-panel__count") %>
    <% end %>
  </div>

  <%= tag.div(
    class: "app-c-filter-panel__content",
    id: panel_content_id,
    role: "region",
    aria: { labelledby: button_id },
  ) do %>
    <%= yield %>

    <div class="app-c-filter-panel__actions">
      <%= submit_tag(
        "Apply",
        class: "govuk-button app-c-filter-panel__action app-c-filter-panel__action--submit",
        name: nil,
        data: {
          ga4_event: {
            event_name: "select_content",
            type: "finder",
            text: "Apply",
            section: button_text,
            action: "apply",
            index_section: 0,
            index_section_count: section_count,
          }
        }
      ) %>

      <% if show_reset_link %>
        <%= link_to(
          "Clear all",
          reset_link_href,
          class: "govuk-link govuk-link--no-visited-state app-c-filter-panel__action app-c-filter-panel__action--reset",
          data: {
            ga4_event: {
              event_name: "select_content",
              type: "finder",
              section: button_text,
              action: "remove",
              index_section: 0,
              index_section_count: section_count,
            }
          }
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
