<%
  filters ||= []

  heading_level ||= 3
  heading_text ||= "Active filters"

  reset_link_href ||= nil
  reset_link_text ||= "Clear all filters"

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_data_attribute({ module: "ga4-event-tracker" })
  component_helper.add_class("app-c-filter-summary")
%>
<%= tag.div(**component_helper.all_attributes) do %>
  <%= content_tag("h#{heading_level}", heading_text, class: "app-c-filter-summary__heading") %>

  <ul class="app-c-filter-summary__remove-filters">
    <% filters.each do |filter| %>
      <li>
        <%= link_to(
          filter[:remove_href],
          class: "app-c-filter-summary__remove-filter",
          data: {
            ga4_event: {
              event_name: "select_content",
              type: "finder",
              text: filter[:displayed_text],
              section: filter[:label],
              action: "remove"
            }
          }
        ) do %>
          <span class="app-c-filter-summary__remove-filter-text">
            <%= tag.span(filter[:visually_hidden_prefix], class: "govuk-visually-hidden") %>
            <%= filter[:displayed_text] %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if reset_link_href.present? %>
    <div>
      <%= link_to(
        reset_link_text,
        reset_link_href,
        class: "app-c-filter-summary__clear-filters govuk-link govuk-link--no-visited-state",
        data: {
          ga4_event: {
            event_name: "select_content",
            type: "finder",
            text: reset_link_text,
            section: heading_text,
            action: "remove"
          }
        },
      ) %>
    </div>
  <% end %>
<% end %>
