<%
  raise ArgumentError, "heading_text is required" unless local_assigns[:heading_text]
  open ||= nil
  status_text ||= ""
  heading_level ||= 2
  index_section ||= 0
  index_section_count ||= 0
  change_category ||= nil

  component_helper = GovukPublishingComponents::Presenters::ComponentWrapperHelper.new(local_assigns)
  component_helper.add_data_attribute({
    module: "filter-section",
    ga4_section: heading_text,
    ga4_filter_parent: heading_text,
    ga4_change_category: change_category,
  })
  component_helper.add_class("app-c-filter-section")
  component_helper.set_open(open)
%>
<%= tag.details(**component_helper.all_attributes) do %>
  <%= tag.summary(
    class: "app-c-filter-section__summary",
    data: {
      ga4_expandable: "",
      ga4_event: {
        event_name: "select_content",
        type: "finder",
        section: heading_text,
        text: heading_text,
        index_section: index_section,
        index_section_count: index_section_count,
      }
    }
  ) do %>
    <%= content_tag("h#{heading_level}", class: "app-c-filter-section__summary-heading") do %>
      <% unless local_assigns[:disable_visually_hidden_heading_prefix] %>
        <span class="govuk-visually-hidden">Filter by</span>
      <% end %>
      <%= heading_text %>
    <% end %>

    <% if status_text.present? %>
      <%= tag.span(status_text, class: "app-c-filter-section__summary-status") %>
    <% end %>
  <% end %>

  <div class="app-c-filter-section__content">
    <%= yield %>
  </div>
<% end %>
