<%
  action_based_email_link_label = brexit_results_email_link_label(@actions)
  action_based_title = brexit_results_title(@actions, criteria_keys)
  action_based_description = brexit_results_description(@actions, criteria_keys)
%>

<% content_for :title, action_based_title %>
<% content_for :head do %>
  <% page_url = request.base_url + request.path %>
  <meta name="govuk:search-result-count" content="<%= @actions.count %>">
  <meta name="robots" content="noindex">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= page_url %>">
  <meta property="og:title" content="<%= t('brexit_checker.results.social_media_meta.title') %>">
  <meta property="og:description" content="<%= t('brexit_checker.results.social_media_meta.description') %>">
  <meta name="twitter:card" content="summary">
  <link rel="canonical" href="<%= page_url %>">
<% end %>

<div class="govuk-width-container brexit-checker-results-page">
  <%= render 'govuk_publishing_components/components/breadcrumbs', {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: t('brexit_checker.breadcrumbs.home'),
        url: "/"
      },
      {
        title: t('brexit_checker.breadcrumbs.brexit-home'),
        url: "/transition"
      },
      {
        title: t('brexit_checker.breadcrumbs.brexit-check'),
        url: "/transition-check"
      }
    ]
  } %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: action_based_title
      } %>
      <% unless @actions.any? %>
        <p class="govuk-body-l">
          <%= action_based_description %>
        </p>
      <% end %>
      <% unless criteria_keys.present? %>
        <p class="govuk-body-l">
          <%= render "change_answers_link" %>
        </p>
      <% end %>
    </div>
  </div>

  <% if criteria_keys.present? %>
      <section
        class="brexit-checker-actions__group"
        data-analytics-ecommerce
        data-ecommerce-start-index=1
        data-list-title="Business support checker"
        data-search-query
      >
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= render "action_list", {
              analytics_group: "business-support",
              actions: @actions
            } %>
          </div>
        </div>
      </section>
    <%= render 'results_with_no_actions', criteria: @criteria if @actions.empty? %>

    <%= render 'share_links' %>
    <%= render 'print_link' if @actions.any? %>
  <% end %>
</div>
