<div class="filter-form">
  <% if finder_presenter.show_keyword_search? and !finder_presenter.all_content_finder? %>
    <div id="keywords">
      <% label_text = capture do %>
        Search <span class="govuk-visually-hidden"><%= finder_presenter.name %></span>
      <% end %>
      <div class="govuk-form-group">
        <label for="finder-keyword-search" class="gem-c-label govuk-label">
          <h1 class="app-c-search-page-heading app-visually-hidden-mobile">Search<span class="govuk-visually-hidden"> all content</span></h1>
        </label>
        <input name="keywords" value="<%= result_set_presenter.user_supplied_keywords %>" class="gem-c-input govuk-input" placeholder="Search GOV.UK" id="finder-keyword-search" type="search" aria-controls="js-search-results-info">
      </div>
    </div>
  <% end %>

  <div data-module="track-click" data-track-category="filterClicked"
      data-track-action="skip-Link" data-track-label="">
    <%= render "govuk_publishing_components/components/skip_link", {
      text: 'Skip to results',
      href: '#js-results'}
    %>
  </div>

  <% if finder_presenter.filters.any? %>
    <div data-module="gem-toggle" data-toggle-class="facet-toggle__content--hide" <%= "class=facet-toggle--only-on-mobile" unless finder_presenter.hide_facets_by_default %>>

      <a href="#" class="facet-toggle<%= ' app-visually-hidden-mobile' if finder_presenter.mobile_filter? %>" data-controls="facet-wrapper" data-expanded="false" data-track-category="filterClicked" data-track-action="accordion" data-toggled-text="- <%= t("finders.facet_disclosure.fewer", default: "Show fewer search options") %>">
        + <%= t("finders.facet_disclosure.more", default: "Show more search options") %>
      </a>

      <div id="facet-wrapper" class="facet-toggle__content facet-toggle__content--hide<%= ' app-!hack-hide-override-for-mobile' if finder_presenter.mobile_filter? %>" >
        <%= render finder_presenter.filters %>
      </div>
    </div>
  <% end %>

  <div id="js-filter-button-result-count" class="js-live-search-fallback button__wrapper<%= ' app-!hack-hide-override-for-mobile app-!-stick-bottom app-hack-filter-submit govuk-!-padding-left-3 govuk-!-padding-right-3' if finder_presenter.mobile_filter? %>">
    <%= render "govuk_publishing_components/components/button", {
      text: "#{result_set_presenter.displayed_total_text}",
      margin_bottom: true
    } %>
  </div>
</div>
