<div class="filter-form" id="keywords">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Search"
    },
    name: "keywords",
    value: @results.user_supplied_keywords,
    id: "finder-keyword-search",
    controls: "js-search-results-info"
  } if finder.show_keyword_search? %>
  <div class="govuk-form-group" data-module="track-click" data-track-category="filterClicked"
      data-track-action="skip-Link" data-track-label="">
    <%= render "govuk_publishing_components/components/skip_link", {
      text: 'Skip to results',
      href: '#js-results'}
    %>
  </div>

  <% if facet_collection.filters.any? %>
    <% facet_toggle_only_on_mobile = true %>

    <div data-module="gem-toggle" data-toggle-class="facet-toggle__content--hide" <%= "class=facet-toggle--only-on-mobile" if facet_toggle_only_on_mobile %>>
      <a href="#" class="facet-toggle" data-controls="facet-wrapper" data-expanded="false" data-toggled-text="- <%= t("finders.facet_disclosure.fewer", default: "Show fewer search options") %>">
        + <%= t("finders.facet_disclosure.more", default: "Show more search options") %>
      </a>

      <div id="facet-wrapper" class="facet-toggle__content facet-toggle__content--hide">
        <%= render facet_collection.filters %>
      </div>
    </div>
  <% end %>

  <div class="js-live-search-fallback button__wrapper">
    <%= render "govuk_publishing_components/components/button", {
      text: "Filter results",
      margin_bottom: true
    } %>
  </div>
</div>
