<div class="filter-form">
  <% if !content_item.all_content_finder? %>
    <div id="keywords">
      <% label_text = capture do %>
        Search <span class="govuk-visually-hidden"><%= content_item.title %></span>
      <% end %>
      <%= render "govuk_publishing_components/components/input", {
        controls: "js-search-results-info",
        id: "finder-keyword-search",
        label: {
          text: label_text
        },
        name: "keywords",
        search_icon: true,
        value: result_set_presenter.user_supplied_keywords,
      }  %>
    </div>
    <button class="app-c-button-as-link app-mobile-filters-link js-show-mobile-filters">
      Filter <span class="govuk-visually-hidden"> results</span>
      <span class="js-selected-filter-count"><%= sanitize facet_tags.display_total_selected_filters %></span>
    </button>
  <% end %>

  <div data-module="track-click" data-track-category="filterClicked"
      data-track-action="skip-Link" data-track-label="">
    <%= render "govuk_publishing_components/components/skip_link", {
      text: 'Skip to results',
      href: '#js-results'}
    %>
  </div>

  <% if facets.select(&:filterable?).any? %>
    <div data-module="gem-toggle" data-toggle-class="facet-toggle__content--hide" <%= "class=facet-toggle--only-on-mobile" unless content_item.hide_facets_by_default %>>
      <button type="button" class="facet-toggle app-c-button-as-link" data-controls="facet-wrapper" data-expanded="false" data-track-category="filterClicked" data-track-action="accordion" data-toggled-text="- <%= t("finders.facet_collection.facet_disclosure.fewer", default: "Show fewer search options") %>">
        + <%= t("finders.facet_collection.facet_disclosure.more", default: "Show more search options") %>
      </button>

      <div id="facet-wrapper" class="facet-toggle__content facet-toggle__content--hide">
        <%= render facets.select(&:filterable?) %>
      </div>
    </div>
  <% end %>

  <div class="js-live-search-fallback button__wrapper">
    <%= render "govuk_publishing_components/components/button", {
      text: "Filter results",
      margin_bottom: true
    } %>
  </div>
</div>
