<% if local_assigns[:screen_reader_filter_description] %>
  <span class="govuk-visually-hidden">
    <%= result_set_presenter.displayed_total %>
    <%= local_assigns[:screen_reader_filter_description] %>
  </span>
<% end %>

<% if local_assigns[:applied_filters] %>
  <div class="facet-tags">
    <% local_assigns[:applied_filters].each do |applied_filter| %>
      <div class="facet-tags__group">
        <% applied_filter.each do |filter| %>
          <div class="facet-tags__wrapper">
            <span class="facet-tags__preposition"><%= filter[:preposition] %></span>
            <span class="facet-tag">
              <span class="facet-tag__text"><%= filter[:text] %></span>
              <button type="button"
                class="facet-tag__remove js-facet-tag__remove"
                aria-label="Remove filter <%= filter[:text] %>"
                data-module="remove-filter-link"
                data-track-label="<%= filter[:data_track_label] %>"
                data-facet="<%= filter[:data_facet] %>"
                data-value="<%= filter[:data_value] %>"
                data-name="<%= filter[:data_name] %>">&#x2715;</button>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
