<% if local_assigns[:screen_reader_filter_description] %>
  <span class="govuk-visually-hidden">
    <%= result_set_presenter.displayed_total %>
    <%= local_assigns[:screen_reader_filter_description] %>
  </span>
<% end %>

<% if local_assigns[:applied_filters] %>
  <div class="facet-tags" data-module="track-click">
    <% local_assigns[:applied_filters].each do |applied_filter| %>
      <% # apply type of facet tag as class to the group to be a be able to target it  %> 
      <div class="facet-tags__group facet-tags__group--<%= applied_filter.first[:data_facet].strip.downcase %>">
        <% applied_filter.each do |filter| %>
          <div class="facet-tags__wrapper">
            <p class="facet-tags__preposition"><%= filter[:preposition] %></p>
            <div class="facet-tag">
              <p class="facet-tag__text"><%= filter[:text] %></p>
              <button type="button"
                class="facet-tag__remove"
                aria-label="Remove filter <%= filter[:text] %>"
                data-module="remove-filter-link"
                data-track-label="<%= filter[:data_track_label] %>"
                data-facet="<%= filter[:data_facet] %>"
                data-value="<%= filter[:data_value] %>"
                data-name="<%= filter[:data_name] %>">&#x2715;</button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
