<div class="filter-form">
  <button class="app-c-button-as-link govuk-!-font-weight-bold app-mobile-filters-link js-show-mobile-filters">Filter <span class="js-selected-filter-count"><%= facet_tags.display_total_selected_filters %></span></button>
  <div data-module="track-click" data-track-category="filterClicked"
      data-track-action="skip-Link" data-track-label="">
    <%= render "govuk_publishing_components/components/skip_link", {
      text: 'Skip to results',
      href: '#js-results'}
    %>
  </div>
  

  <% if facets.select(&:filterable?).any? %>

      <div id="facet-wrapper" class="facets">
        <div class="facets__box">
          <div class="facets__content">
            <div class="facets__header">
              <h1 class="gem-c-title__text app-mobile-filter-title">
                Filter
              </h1>
              <button class="app-c-button-as-link app-c-return-to-results js-return-to-results" type="button">Return to results</button>
            </div>
            <%= render facets.select(&:filterable?) %>
            <div id="js-facet-tag-block" class="app-mobile-facet-tags"  data-module="remove-filter">
              <%= render "facet_tags", facet_tags.present %>
              <button class="app-c-button-as-link app-c-clear-filters js-clear-filters" type="button">Clear all filters</button>
            </div>
            <div class="app-c-mobile-result-count">
              <button class="gem-c-button govuk-button js-result-count" type="button">Show <%= result_set_presenter.displayed_total %></button>
            </div>
          </div>
        </div>
      </div>
    
  <% end %>

  <div class="js-live-search-fallback button__wrapper">
    <%= render "govuk_publishing_components/components/button", {
      text: "Filter results",
      margin_bottom: true
    } %>
  </div>
</div>
