<div class="filter-form">
  <div class="inner-block">
    <p>You can use the filters to show only <%= finder.document_noun.pluralize %> that match your interests</p>

    <form method="get" action="<%=finder.slug%>" class="js-live-search-form">
      <div class="filter text-filter">
        <label class="legend" for="search">Search</label>
        <input value="<%= params[:keywords] %>" placeholder="<%= finder.keyword_search_placeholder %>" type="text" name="keywords" id="search" aria-controls="js-search-results-info" class='text'/>
      </div>
      <%= render facet_collection.facets %>
      <input type="submit" value="Filter results" class="button js-live-search-fallback"/>
    </form>
  </div>
</div>
