<div class="filter-form">
  <% if !content_item.all_content_finder? %>
    <div id="keywords">
      <% label_text = capture do %>
        Search <span class="govuk-visually-hidden"><%= content_item.title %></span>
      <% end %>
      <%= render "govuk_publishing_components/components/search", {
        aria_controls: "js-search-results-info",
        id: "finder-keyword-search",
        name: "keywords",
        type: 'search',
        value: result_set_presenter.user_supplied_keywords,
        inline_label: false,
        label_text: label_text
      } %>
    </div>
    <% if facets.select(&:filterable?).any? %>
      <button class="app-c-button-as-link app-mobile-filters-link js-show-mobile-filters"
        data-toggle="mobile-filters-modal" data-target="facet-wrapper"
        data-module="track-click" data-track-category="filterClicked" 
        data-track-action="mobile-filter-button" data-track-label="">
        Filter <span class="govuk-visually-hidden"> results</span>
        <span class="js-selected-filter-count"><%= sanitize facet_tags.display_total_selected_filters %></span>
      </button>
    <% end %>
  <% end %>

  <div data-module="track-click" data-track-category="filterClicked"
      data-track-action="skip-Link" data-track-label="">
    <%= render "govuk_publishing_components/components/skip_link", {
      text: 'Skip to results',
      href: '#js-results'}
    %>
  </div>

  <% if facets.select(&:filterable?).any? %>
    <div id="facet-wrapper" data-module="mobile-filters-modal" class="facets">
      <div class="facets__box">
        <div class="facets__header">
          <h1 class="gem-c-title__text">Filter</h1>
          <button class="app-c-button-as-link facets__return-link js-close-filters" type="button">
            Return to results
          </button>
        </div>
        <div class="facets__content">
          <%= render facets.select(&:filterable?) %>
          <div class="facets__tags-block js-mobile-facet-tag-block"  data-module="remove-filter">
            <%= render "facet_tags", facet_tags.present %>
          </div>
          <button class="app-c-button-as-link facets__clear-link js-clear-selected-filters" type="button">
            Clear all filters
          </button> 
        </div>
        <div class="facets__footer">
          <button class="gem-c-button govuk-button js-close-filters js-show-results" type="button">
            Show <span class="js-result-count"> <%= result_set_presenter.displayed_total %></span>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <div class="js-live-search-fallback button__wrapper">
    <%= render "govuk_publishing_components/components/button", {
      text: "Filter results",
      margin_bottom: true
    } %>
  </div>
</div>
