<div class="feedback-form" data-module="business-finder-feedback">
  <div class="js-prompt">
    <p class="feedback-form__question"><%= t('finders.feedback.did_you_find') %></p>
    <a class="feedback-form__option js-submit-yes" href="/">Yes</a>
    <a class="feedback-form__option js-open-form" href="/">No</a>
  </div>

  <form
    action="/contact/govuk/business-finder"
    method="post"
    class="js-hidden js-feedback-form">

      <div class="js-hidden">
        <%= render "govuk_publishing_components/components/error_summary", {
          id: "feedback-error",
          title: "Sorry, we’re unable to receive your message right now.",
          description: finder.contact_form_link,
        } %>
      </div>

      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t('finders.feedback.give_details')
        },
        name: "search-details"
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Send"
      } %>
  </form>

    <p class="feedback-form__message js-success-message js-hidden"><%= t('finders.feedback.thanks_message') %></p>
    <div class="js-submit-message js-hidden">
      <p class="feedback-form__message"><%= t('finders.feedback.success_message') %></p>
      <p class="feedback-form__message email-link">
        <%= link_to "Subscribe to receive email alerts", finder.email_alert_signup_url %>
        when new information is published for your business area.
    </p>
  </div>
</div>

