<div class="filtered-results">
  <div class="inner-block">
    <p class="result-info"><span class="result-count"><%= results.count %></span> <%= finder.document_noun.pluralize(results.count) %>

      <% finder.facets.with_selected_values.each do |facet| %>
        <%= facet.preposition %> <%= facet_values_sentence(facet).html_safe %>
      <% end %>
    </p>
    <ul>
      <%= render results.documents %>
    </ul>
  </div>
</div>
