<% content_for :head do %>
  <meta name="govuk:search-result-count" content="<%= result_set_presenter.total_count %>">
<% end %>
<% if local_assigns[:display_grouped_results] %>
  <ul class="finder-results js-finder-results" data-module="track-click">
    <% local_assigns[:grouped_document_list_component_data].each do |group| %>
      <li class="filtered-results__group">
        <% if group[:group_name] %>
          <h2 class="filtered-results__facet-heading"><%= group[:group_name] %></h2>
        <% end %>
        <%= render "govuk_publishing_components/components/document_list", {
          items: group[:documents],
          remove_underline: true
        } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="finder-results js-finder-results" data-module="track-click">
  <li class="gem-c-document-list__item">
    <a data-ecommerce-path="/multipart-demo" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.1" data-track-label="/multipart-demo" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Multipart demo&quot;}" class="gem-c-document-list__item-title   gem-c-document-list__item-link" href="/multipart-demo">Multipart demo result</a>
    <p class="gem-c-document-list__item-description">Get on the electoral register so you can vote in elections and referendums.</p>
    <ul class="parts">
      <li><a data-ecommerce-path="/part-1" href="/part-1" data-track-category="resultPart" data-track-action="Result part" data-track-label="Part 1" data-track-options="{&quot;dimension82&quot;:&quot;1&quot;}">Part 1</a></li>
      <li><a data-ecommerce-path="/part-2" href="/part-2" data-track-category="resultPart" data-track-action="Result part" data-track-label="Part 2" data-track-options="{&quot;dimension82&quot;:&quot;2&quot;}">Part 2</a></li>
      <li><a data-ecommerce-path="/part-3" href="/part-3" data-track-category="resultPart" data-track-action="Result part" data-track-label="Part 3" data-track-options="{&quot;dimension82&quot;:&quot;3&quot;}">Part 3</a></li>
    </ul>
  </li>
    <%= render "govuk_publishing_components/components/document_list", {
      items: local_assigns[:document_list_component_data],
      remove_underline: true
    } %>
  </div>
<% end %>

<% if local_assigns[:zero_results] %>
  <%= link_to "ecommerce data", "www.gov.uk",
    class: "govuk-visually-hidden",
    :data => {
      :'ecommerce-content-id' => "99999999-9999-9999-9999-999999999999",
      :'ecommerce-row' =>"0"
    } %>

  <div class='no-results govuk-!-font-size-19'>
    <p class='govuk-body govuk-!-font-weight-bold'>There are no matching results.</p>
    <p class='govuk-body'>Improve your search results by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>removing filters</li>
      <li>double-checking your spelling</li>
      <li>using fewer keywords</li>
      <li>searching for something less specific</li>
    </ul>
  </div>
<% end %>
