<div class="facet js-openable-facet <% unless facet_has_selected_values?(select_facet.key) %>closed<% end %>" tabindex="0">
  <div class="head">
    <span class="legend"><%= select_facet.name %></span>
    <div class="controls">
      <a class="clear-selected <% unless facet_has_selected_values?(select_facet.key) %>js-hidden<% end %>">clear</a>
      <div class="toggle"></div>
    </div>
  </div>
  <div class="checkbox-container">
    <ul>
      <% select_facet.allowed_values.each do | option | %>
      <li>
        <input type="checkbox" name="<%=select_facet.key%>[]" value="<%= option['value']%>" id="<%= option['value']%>" <%= input_checked(select_facet.key, option['value']) %>>
        <label for='<%= option['value']%>'><%= option['label']%></label>
      </li>
      <% end %>
    </ul>
  </div>
</div>


