<div class="facet js-openable-facet closed" tabindex="0">
  <div class="head">
    <span class="legend"><%= select_facet.name %></span>
    <div class="controls">
      <a class="clear-selected js-hidden">clear</a>
      <div class="toggle"></div>
    </div>
  </div>
  <div class="checkbox-container">
    <ul>
      <% select_facet.allowed_values.each do | option | %>
      <li>
        <input type="checkbox" name='<%=select_facet.key%>[<%= option['value']%>]' value='<%= option['value']%>' id='<%= option['value']%>'>
        <label for='<%= option['value']%>'><%= option['label']%></label>
      </li>
      <% end %>
    </ul>
  </div>
</div>


