<div class="govuk-width-container">
  <% if finder_presenter.show_phase_banner? %>
    <%= render 'govuk_publishing_components/components/phase_banner', phase: finder_presenter.phase, message: sanitize(finder_presenter.phase_message), inverse: inverse %>
  <% end %>

  <div <%= 'class=govuk-visually-hidden' if finder_presenter.all_content_finder? %>>
  <% if @breadcrumbs.breadcrumbs %>
    <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: @breadcrumbs.breadcrumbs, inverse: inverse %>
  <% else %>
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: content_item.as_hash, prioritise_taxon_breadcrumbs: finder_presenter.eu_exit_finder?, inverse: inverse %>
  <% end %>
  </div>

  <% if finder_presenter.government? %>
    <%= render 'govuk_publishing_components/components/government_navigation', active: finder_presenter.government_content_section %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if finder_presenter.all_content_finder? %>
        <% label_text = capture do %>
          <h1 class="app-c-search-page-heading app-visually-hidden-mobile">Search<span class="govuk-visually-hidden"> all content</span></h1>
        <% end %>
        <div id="keywords" class="app-patch--search-input-override app-!-hack-search-override<%= ' app-visually-hidden-mobile' if finder_presenter.mobile_filter? %>">
        <div class="govuk-form-group">
        <label for="finder-keyword-search" class="gem-c-label govuk-label">
          <h1 class="app-c-search-page-heading app-visually-hidden-mobile">Search<span class="govuk-visually-hidden"> all content</span></h1>
        </label>
        <input name="keywords" value="<%= result_set_presenter.user_supplied_keywords %>" class="gem-c-input govuk-input" placeholder="Search GOV.UK" id="finder-keyword-search" type="search" aria-controls="js-search-results-info">
        </div>
          <%= render "govuk_publishing_components/components/button", {
            text: "Search"
          } %>
        </div>
      <% elsif finder_presenter.topic_finder? %>
        <%= link_to finder_presenter.topic_finder_parent['title'], finder_presenter.topic_finder_parent['base_path'], class: 'topic-finder__taxon-link' %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: {
          title: finder_presenter.name,
          inverse: true,
        } %>
      <% else %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: {
          title: finder_presenter.name,
        } %>
      <% end %>

      <% if finder_presenter.page_metadata.any? %>
        <%= render 'govuk_publishing_components/components/metadata', page_metadata(finder_presenter.page_metadata) %>
      <% end %>
    </div>

    <% if finder_presenter.summary %>
      <div class="govuk-grid-column-two-thirds">
        <div class="metadata-summary ">
          <%= render 'govuk_publishing_components/components/govspeak', content: finder_presenter.summary.html_safe %>
        </div>
      </div>
    <% end %>

    <% if finder_presenter.logo_path %>
      <div class="finder-logo govuk-grid-column-one-third">
        <%= image_tag finder_presenter.logo_path, class: "finder-logo__image" %>
      </div>
    <% end %>

    <% if finder_presenter.related.any? %>
      <div class="related-links govuk-grid-column-one-third">
        <ul class="js-finder-results">
          <% finder_presenter.related.each do |link| %>
            <li class="related-links__item">
              <%= link_to link['title'], link['web_url'], class: "related-links__link" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
