<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if content_item.all_content_finder? %>
      <%= render "govuk_publishing_components/components/heading", {
        text: sanitize("Search <span class='govuk-visually-hidden'>all content</span>"),
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 4,
        inverse: inverse,
      } %>
      <div id="keywords" class="app-patch--search-input-override" role="search" aria-label="Sitewide" data-ga4-change-category="update-keyword text">
        <%= render "govuk_publishing_components/components/search", {
          aria_controls: "js-search-results-info",
          label_id: "finder-keyword-search",
          name: "keywords",
          type: 'search',
          value: result_set_presenter.user_supplied_keywords,
          on_govuk_blue: inverse,
          disable_corrections: true,
        } %>
      </div>
      <div id="js-spelling-suggestions" class="spelling-suggestions">
        <%= render 'spelling_suggestion' %>
      </div>
    <% elsif topic_finder?(filter_params) %>
      <%= link_to topic_finder_parent(filter_params)['title'], topic_finder_parent(filter_params)['base_path'], class: 'govuk-link gem-c-inverse-header__link topic-finder__taxon-link' %>
      <%= render "govuk_publishing_components/components/heading", {
        text: content_item.title,
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 8,
      } %>
    <% else %>
      <%= render "govuk_publishing_components/components/heading", {
        text: content_item.title,
        context: title_context,
        heading_level: 1,
        font_size: "xl",
        margin_bottom: 8,
      } %>
    <% end %>

    <% if page_metadata.any? %>
      <% page_metadata.merge!({ inverse: inverse, inverse_compress: true, margin_bottom: 2 }) %>
      <%= render 'govuk_publishing_components/components/metadata', page_metadata %>
    <% end %>
  </div>

  <% if content_item.summary %>
    <div class="govuk-grid-column-two-thirds">
      <div class="metadata-summary ">
        <%= render 'govuk_publishing_components/components/govspeak', { inverse: inverse } do %>
          <%= sanitize(content_item.summary) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if content_item.logo_path %>
    <div class="finder-logo govuk-grid-column-one-third">
      <%= image_tag content_item.logo_path, class: "finder-logo__image" %>
    </div>
  <% end %>

  <% if content_item.related.any? %>
    <div class="related-links govuk-grid-column-one-third">
      <ul class="govuk-list js-finder-results">
        <% content_item.related.each do |link| %>
          <li class="related-links__item">
            <%= link_to link['title'], link['web_url'], class: "related-links__link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
