<div class="govuk-width-container">
  <div class="govuk-!-margin-top-4">
    <% if content_item.has_user_research_banner? %>
        <%= render "govuk_publishing_components/components/intervention", {
            suggestion_text: "Help improve GOV.UK",
            suggestion_link_text: "Sign up to take part in user research (opens in a new tab)",
            suggestion_link_url: "https://survey.take-part-in-research.service.gov.uk/jfe/form/SV_2bggmg6xlelrO0S",
            new_tab: true,
          } %>
    <% end %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if content_item.all_content_finder? %>
        <%= render "govuk_publishing_components/components/heading", {
          text: sanitize("Search <span class='govuk-visually-hidden'>all content</span>"),
          heading_level: 1,
          font_size: "xl",
          margin_bottom: 4,
          inverse: inverse,
        } %>
        <div id="keywords" class="app-patch--search-input-override" role="search" aria-label="Sitewide" data-ga4-change-category="update-keyword text">
          <%= render "govuk_publishing_components/components/search", {
            aria_controls: "js-search-results-info",
            id: "finder-keyword-search",
            name: "keywords",
            type: 'search',
            value: result_set_presenter.user_supplied_keywords,
            on_govuk_blue: inverse,
            disable_corrections: true,
          } %>
        </div>
        <div id="js-spelling-suggestions" class="spelling-suggestions">
          <%= render 'spelling_suggestion' %>
        </div>
      <% elsif topic_finder?(filter_params) %>
        <%= link_to topic_finder_parent(filter_params)['title'], topic_finder_parent(filter_params)['base_path'], class: 'govuk-link topic-finder__taxon-link' %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: {
          title: content_item.title,
          inverse: inverse,
        } %>
      <% else %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: {
          title: content_item.title,
          context: title_context,
          inverse: inverse,
        } %>
      <% end %>

      <% if page_metadata.any? %>
        <% page_metadata.merge!({ inverse: inverse, inverse_compress: true, margin_bottom: 2 }) %>
        <%= render 'govuk_publishing_components/components/metadata', page_metadata %>
      <% end %>
    </div>

    <% if content_item.summary %>
      <div class="govuk-grid-column-two-thirds">
        <div class="metadata-summary ">
          <%= render 'govuk_publishing_components/components/govspeak', { inverse: inverse } do %>
            <%= sanitize(content_item.summary) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if content_item.logo_path %>
      <div class="finder-logo govuk-grid-column-one-third">
        <%= image_tag content_item.logo_path, class: "finder-logo__image" %>
      </div>
    <% end %>

    <% if content_item.related.any? || show_govuk_chat_promo?(content_item.base_path) %>
      <div class="govuk-grid-column-one-third title-side">
        <% if show_govuk_chat_promo?(content_item.base_path) %>
          <%= render "govuk_publishing_components/components/chat_entry", {
            margin_top_until_tablet: true,
          } %>
        <% end %>

        <% if content_item.related.any? %>
          <div class="related-links">
            <ul class="js-finder-results">
              <% content_item.related.each do |link| %>
                <li class="related-links__item">
                  <%= link_to link['title'], link['web_url'], class: "related-links__link" %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
