<% content_for :title, finder.name %>

<header>
  <% if finder.beta? %>
    <% if finder.beta_message %>
      <%= render partial: 'govuk_component/beta_label', locals: { message: finder.beta_message } %>
    <% else %>
      <%= render partial: 'govuk_component/beta_label' %>
    <% end %>
  <% end %>
  <h1><%= finder.name %></h1>
  <% if finder.related.any? %>
    <div class='related-links'>
      <ul>
        <% finder.related.each do |link| %>
          <li><%= link_to "View #{link[:title]}", link[:web_url] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if finder.primary_organisation %>
    <div class="metadata">
      <div class="inner-block">
        <%= render partial: 'govuk_component/metadata', locals: {
          from: link_to(finder.primary_organisation.title, finder.primary_organisation.web_url),
        } %>
      </div>
    </div>
  <% end %>
<% if finder.email_alert_signup_enabled? %>
  <div class='inner-block'>
    <p class='email-link'>
      <%= link_to "Subscribe to email alerts", finder.email_alert_signup.web_url %>
    </p>
  </div>
<% end %>
</header>

<%= render finder.facets %>
<div class='js-live-search-results-block'>
  <div class="filtered-results">
    <div class="inner-block">
      <div aria-live='assertive' id='js-search-results-info'>
        <%= render_mustache('result_count', @results.to_hash)%>
      </div>
      <div id='js-results'>
        <%= render_mustache('results', @results.to_hash) %>
      </div>
    </div>
  </div>
</div>
