<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{result_set_presenter.user_supplied_keywords} - #{content_item.title}" %>
<% else %>
  <% content_for :title, content_item.title %>
<% end %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, signup_links[:feed_link]) %>
  <%= render 'finder_meta', content_item: content_item %>
<% end %>

<% content_for :meta_title, content_item.title %>

<% if topic_finder?(filter_params) && !content_item.all_content_finder? %>
  <% content_for :body_classes, "full-width" %>
  <% inverse = true %>
<% end %>

<form method="get" action="<%= content_item.base_path %>" class="js-live-search-form">
  <input type="hidden" name="parent" value="<%= @parent %>">

  <% if topic_finder?(filter_params) && !content_item.all_content_finder? %>
    <%= render "govuk_publishing_components/components/inverse_header", {
      full_width: true
    } do %>
      <%= render partial: 'show_header', locals: { inverse: inverse,
                                                   page_metadata: page_metadata(content_item, filter_params) } %>
    <% end %>
  <% else %>
    <%= render partial: 'show_header', locals: { inverse: inverse,
                                                 page_metadata: page_metadata(content_item, filter_params) } %>
  <% end %>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" role="search" aria-label="<%= content_item.title %>">
        <%= render partial: 'facet_collection'%>
      </div>

      <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results"
        role="region"
        aria-label="<%= content_item.title %> search results"
        data-analytics-ecommerce
        data-ecommerce-start-index="<%= result_set_presenter.start_offset %>"
        data-list-title="<%= content_item.title %>"
        data-search-query="<%= result_set_presenter.user_supplied_keywords %>"
        <% unless result_set_presenter.sort_option.nil? %>
          data-ecommerce-variant="<%= result_set_presenter.sort_option[:data_track_label] %>"
        <% end %>
        >
        <div id="js-search-results-info" data-module="remove-filter" class="result-info">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="result-region-header__counter" id="js-result-count">
                <%= result_set_presenter.displayed_total %>
              </h2>
            </div>
            <div class="govuk-grid-column-two-thirds subscription-links subscription-links--desktop">
              <%= render "govuk_publishing_components/components/subscription-links", signup_links %>
            </div>
          </div>
          <div id="js-facet-tag-wrapper" class="facet-tags__container" aria-live="assertive">
            <%= render "facet_tags", facet_tags.present %>
          </div>
        </div>

        <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

        <div id="js-sort-options">
          <%= render "sort_options", @sort_presenter.to_hash %>
        </div>

        <div id="js-results">
          <%= render "search_results", result_set_presenter.search_results_content %>
        </div>

        <div id="js-pagination">
          <%= render "govuk_publishing_components/components/previous_and_next_navigation", @pagination.next_and_prev_links %>
        </div>

        <div class="subscription-links" id="subscription-links-footer">
          <%= render "govuk_publishing_components/components/subscription-links", signup_links %>
        </div>
      </div>
    </div>
  </div>
</form>
