<% content_for :title, finder.name %>
<% content_for :head, auto_discovery_link_tag(:atom, @results.atom_url) %>

<% if finder.beta? %>
  <% if finder.beta_message %>
    <%= render partial: 'govuk_component/beta_label', locals: { message: finder.beta_message } %>
  <% else %>
    <%= render partial: 'govuk_component/beta_label' %>
  <% end %>
<% end %>

<% if finder.government? %>
  <%= render partial: 'govuk_component/government_navigation', locals: { active: finder.government_content_section } %>
<% end %>

<header>
  <div class="title-and-metadata">
    <%= render partial: 'govuk_component/title', locals: {
      context: finder.human_readable_finder_format,
      title: finder.name
    } %>
    <% if finder.page_metadata.any? %>
      <div class="metadata">
        <%= render partial: 'govuk_component/metadata',
          locals: page_metadata(finder.page_metadata) %>
      </div>
    <% end %>

    <% if finder.summary %>
      <div class="summary">
        <%= render partial: 'govuk_component/govspeak', locals: {
            content: finder.summary
          } %>
      </div>
    <% end %>

    <% if finder.email_alert_signup_url %>
      <p class='email-link'>
        <%= link_to "Subscribe to email alerts", finder.email_alert_signup_url %>
      </p>
    <% end %>
  </div>

  <% if finder.logo_path %>
    <div class="logo">
      <%= image_tag finder.logo_path, id: "logo-image" %>
    </div>
  <% end %>

  <% if finder.related.any? %>
    <div class='related-links'>
      <ul>
        <% finder.related.each do |link| %>
          <li><%= link_to link[:title], link[:web_url] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</header>

<div class="filtering">
  <%= render finder.facets %>
  <div class='js-live-search-results-block'>
    <div class="filtered-results">
      <div aria-live='assertive' id='js-search-results-info'>
        <%= render_mustache('result_count', @results.to_hash)%>
      </div>
      <div id='js-results'>
        <%= render_mustache('results', @results.to_hash) %>
      </div>

      <%= render partial: 'govuk_component/previous_and_next_navigation', locals: finder.pagination if finder.pagination %>
    </div>
  </div>
</div>
