<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, safe_join([result_set_presenter.sanitised_user_supplied_keywords, content_item.title], " - ") %>
<% else %>
  <% content_for :title, content_item.title %>
<% end %>
<% content_for :head do %>
  <% if signup_links[:feed_link] %>
    <%= auto_discovery_link_tag(:atom, signup_links[:feed_link]) %>
  <% end %>
  <%= render 'finder_meta', content_item: content_item %>
<% end %>

<% content_for :meta_title, content_item.title %>

<%= render partial: 'before_content' %>

<% if is_inverse? %>
  <% content_for :inverse, true %>
<% end %>

<form method="get" action="<%= content_item.base_path %>" class="js-live-search-form"
    data-ga4-change-category="clear-all-filters"
>
  <input type="hidden" name="parent" value="<%= @parent %>">

  <% if is_inverse? %>
    <%= render "govuk_publishing_components/components/inverse_header", {
      full_width: true,
      padding_top: 0
    } do %>
      <div class="govuk-width-container">
        <%= render partial: 'show_header', locals: {
          inverse: is_inverse?,
          page_metadata: page_metadata(content_item, filter_params)
        } %>
      </div>
    <% end %>
  <% else %>
    <%= render partial: 'show_header', locals: {
      inverse: is_inverse?,
      page_metadata: page_metadata(content_item, filter_params)
    } %>
  <% end %>

  <div class="<%= 'govuk-width-container' if is_inverse? %>">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render partial: 'facet_collection'%>
      </div>

      <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results"
        role="region"
        aria-label="<%= content_item.title %> search results"
        data-ga4-ecommerce
        data-ga4-ecommerce-start-index="<%= result_set_presenter.start_offset %>"
        data-ga4-list-title="<%= content_item.title %>"
        data-ga4-search-query="<%= result_set_presenter.user_supplied_keywords %>"
        <% unless result_set_presenter.sort_option.nil? %>
          data-ga4-ecommerce-variant="<%= result_set_presenter.sort_option[:data_ga4_track_label] %>"
        <% end %>
        >
        <div id="js-search-results-info" data-module="remove-filter" class="result-info <%= "govuk-!-margin-bottom-0" if result_set_presenter.has_sort_options %>">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="result-info__header">
                <%= render "govuk_publishing_components/components/heading", {
                  text: result_set_presenter.displayed_total,
                  id: "js-result-count",
                  font_size: "s",
                  margin_bottom: 2,
                  } %>
                  <%= render "govuk_publishing_components/components/skip_link", {
                    text: 'Skip to results',
                    href: '#js-results'}
                  %>
              </div>
            </div>

            <div
              class="govuk-grid-column-one-half govuk-!-text-align-right subscription-links subscription-links--desktop"
              data-module="ga4-link-tracker"
              data-ga4-track-links-only
              data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "section": "Top" }'>
              <%= render "govuk_publishing_components/components/subscription_links", signup_links %>
            </div>
          </div>
          <div id="js-facet-tag-wrapper" class="facet-tags__container" aria-live="assertive">
            <%= render "facet_tags", facet_tags.present %>
          </div>
        </div>

        <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

        <div id="js-sort-options" data-ga4-change-category="update-sort select">
          <%= render "sort_options", @sort_presenter.to_hash %>
        </div>

        <div id="js-results">
          <%= render "search_results", result_set_presenter.search_results_content %>
        </div>

        <div id="js-pagination">
          <%= render "govuk_publishing_components/components/pagination", @pagination.next_and_prev_links %>
        </div>

        <div
          class="subscription-links"
          id="subscription-links-footer"
          data-module="ga4-link-tracker"
          data-ga4-track-links-only
          data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "section": "Footer" }'>
          <%= render "govuk_publishing_components/components/subscription_links", signup_links %>
        </div>
      </div>
    </div>
  </div>
</form>
