<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{result_set_presenter.user_supplied_keywords} - #{finder_presenter.name}" %>
<% else %>
  <% content_for :title, finder_presenter.name %>
<% end %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, signup_links[:feed_link]) %>
  <%= render 'finder_meta', finder_presenter: finder_presenter %>

  <% if result_set_presenter.highlight_top_result? %>
    <meta name="govuk:relevant-result-shown" content="yes">
  <% end %>

  <%= finder_top_result_variant.analytics_meta_tag.html_safe if finder_presenter.eu_exit_finder? %>
  <%= search_cluster_variant.analytics_meta_tag.html_safe %>
<% end %>

<% content_for :meta_title, finder_presenter.name %>

<% if finder_presenter.topic_finder? && !finder_presenter.all_content_finder? %>
  <% content_for :body_classes, "full-width" %>
  <% inverse = true %>
<% end %>

<form method="get" action="<%= finder_presenter.slug %>" class="js-live-search-form"
  data-analytics-ecommerce
  data-ecommerce-start-index="<%= result_set_presenter.start_offset %>"
  data-list-title="<%= finder_presenter.name %>"
  data-search-query="<%= result_set_presenter.user_supplied_keywords %>">
  <input type="hidden" name="parent" value="<%= @parent %>">

  <% if finder_presenter.topic_finder? && !finder_presenter.all_content_finder? %>
    <%= render "govuk_publishing_components/components/inverse_header", {
      full_width: true
    } do %>
      <%= render partial: 'show_header', locals: { inverse: inverse } %>
    <% end %>
  <% else %>
    <%= render partial: 'show_header', locals: { inverse: inverse } %>
  <% end %>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" role="search" aria-label="<%= finder_presenter.name %>">
        <%= render partial: 'facet_collection'%>
      </div>

      <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="<%= finder_presenter.name %> search results">
        <div id="js-search-results-info" data-module="remove-filter" class="result-info">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="result-region-header__counter" id="js-result-count">
                <%= result_set_presenter.displayed_total %>
              </h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <%= render "govuk_publishing_components/components/subscription-links", signup_links %>
            </div>
          </div>
          <div id="js-facet-tag-wrapper" aria-live="assertive">
            <%= render "facet_tags", facet_tags.present %>
          </div>
        </div>

        <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

        <div id="js-sort-options">
          <%= render "sort_options", @sort_presenter.to_hash %>
        </div>

        <div id="js-results">
          <%= render "search_results", result_set_presenter.search_results_content %>
        </div>

        <div id="js-pagination">
          <%= render "govuk_publishing_components/components/previous_and_next_navigation", @pagination.next_and_prev_links %>
        </div>
      </div>
    </div>
  </div>
</form>
