<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, safe_join([result_set_presenter.sanitised_user_supplied_keywords, content_item.title], " - ") %>
<% else %>
  <% content_for :title, content_item.title %>
<% end %>

<% content_for :head do %>
  <%= render 'finder_meta', content_item: content_item %>
  <meta name="govuk:search-result-count" content="<%= result_set_presenter.total_count %>">
  <% if result_set_presenter.discovery_engine_attribution_token %>
    <meta name="govuk:discovery-engine-attribution-token" content="<%= result_set_presenter.discovery_engine_attribution_token %>">
  <% end %>
  <meta name="govuk:spelling-suggestion" content="<%= @spelling_suggestion_presenter.suggestions.first&.fetch(:keywords, "") %>">
  <%= @requested_variant.analytics_meta_tag.html_safe if @requested_variant.present? %>
<% end %>
<% content_for :meta_title, content_item.title %>

<% content_for :before_content do %>
  <% if @breadcrumbs.breadcrumbs %>
    <%= render 'govuk_publishing_components/components/breadcrumbs', {
        breadcrumbs: @breadcrumbs.breadcrumbs,
        collapse_on_mobile: true,
    } %>
  <% else %>
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', {
        content_item: content_item.as_hash,
    } %>
  <% end %>
<% end %>

<%= tag.div(
  id: "app-all-content-finder",
  data: {
    module: "all-content-finder",
    ga4_ecommerce: "",
    ga4_ecommerce_start_index: result_set_presenter.start_offset,
    ga4_list_title: content_item.title,
    ga4_search_query: result_set_presenter.user_supplied_keywords,
    ga4_ecommerce_variant: result_set_presenter.sort_option&.fetch(:data_ga4_track_label, nil),
  },
) do %>

  <% if result_set_presenter.debug_serving_config %>
    <%= render "govuk_publishing_components/components/notice", {
      title: "Previewing different serving configuration",
    } do %>
      <p class="govuk-body">
        You are temporarily using the
        <strong><%= result_set_presenter.debug_serving_config %></strong>
        serving configuration for results from Search API v2.
      </p>

      <p class="govuk-body">
        <%= link_to "Return to default serving configuration", url_for(filter_params.except(:debug_serving_config)), class: "govuk-link govuk-link--no-visited-state" %>
      </p>
    <% end %>
  <% end %>

  <%= tag.form(
    method: "get",
    action: content_item.base_path,
    id: "all-content-finder-form",
    class: "js-all-content-finder-form",
    data: {
      module: "ga4-search-tracker",
      ga4_search_type: "finder",
      ga4_search_url: "/search/all",
      ga4_search_section: "Search",
    },
  ) do %>
    <%= hidden_field_tag :parent, @parent if @parent.present? %>
    <%= hidden_field_tag :debug_serving_config, result_set_presenter.debug_serving_config if result_set_presenter.debug_serving_config %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <div id="keywords" role="search" aria-label="Sitewide">
          <%= render "govuk_publishing_components/components/search_with_autocomplete", {
            id: "finder-keyword-search",
            name: "keywords",
            type: 'search',
            value: result_set_presenter.user_supplied_keywords,
            disable_corrections: true,
            label_size: "xl",
            label_text: safe_join([
              "Search ",
              tag.span("all content on", class: "govuk-visually-hidden"),
              " GOV.UK",
            ]),
            wrap_label_in_a_heading: true,
            heading_level: 1,
            margin_bottom: 0,
            source_url: api_search_autocomplete_url(format: :json),
            source_key: "suggestions"
          } %>
        </div>

        <% if @spelling_suggestion_presenter.suggestions.any? %>
          <% suggestion = @spelling_suggestion_presenter.suggestions.first %>

            <p class="govuk-body-s app-all-content-finder__spelling-suggestions">
              Did you mean <%= link_to(
                sanitize(suggestion[:highlighted], tags: %w[mark], attributes: []),
                suggestion[:link],
                class: "govuk-link",
                data: {
                  module: "ga4-link-tracker",
                  ga4_link: {
                    event_name: "navigation",
                    type: "spelling suggestion",
                    section: "Search",
                    text: suggestion[:keywords],
                  }
                }
              ) %>?
            </p>
          <% end %>

        <%= render "components/filter_panel", {
          button_text: "Filter and sort",
          result_text: result_set_presenter.displayed_total,
          open: @search_query.invalid?,
          show_reset_link: filters_presenter.any_filters?,
          reset_link_href: filters_presenter.reset_url,
          section_count: facets.user_visible_count,
        } do %>
          <% facets.each do |facet| %>
            <%=
              render partial: "finders/all_content_finder_facets/#{facet.to_partial_path}",
                object: facet
            %>
          <% end %>
        <% end %>

        <% if filters_presenter.any_filters? %>
          <%= render "components/filter_summary", {
            reset_link_href: filters_presenter.reset_url,
            reset_link_text: filters_presenter.reset_link_text,
            heading_level: 3,
            heading_text: filters_presenter.summary_heading_text,
            filters: filters_presenter.summary_items,
          } %>
        <% end %>

        <% if result_set_presenter.total_count.positive? %>
          <%= render "govuk_publishing_components/components/document_list", {
            margin_top: 0,
            margin_bottom: 5,
            equal_item_spacing: true,
            disable_ga4: true,
            items: result_set_presenter.search_results_content[:document_list_component_data],
          } %>
        <% else %>
          <div class='no-results govuk-!-font-size-19 govuk-!-margin-top-4'>
            <p class='govuk-body govuk-!-font-weight-bold'>There are no matching results.</p>
            <p class='govuk-body'>Improve your search results by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>removing filters</li>
              <li>double-checking your spelling</li>
              <li>using fewer keywords</li>
              <li>searching for something less specific</li>
            </ul>
          </div>
        <% end %>

        <%= render "govuk_publishing_components/components/pagination", @pagination.next_and_prev_links %>
      </div>
    </div>
  <% end %>
<% end %>
