<% if @results.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{@results.user_supplied_keywords} - #{finder.name}" %>
<% else %>
  <% content_for :title, finder.name %>
<% end %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, @results.signup_links[:feed_link]) %>
  <%= render 'finder_meta', finder: finder %>
  <% if finder.canonical_link? %>
    <link rel="canonical" href="<%= "#{ENV['GOVUK_WEBSITE_ROOT']}#{finder.slug}" %>">
  <% end %>

  <% if @results.to_hash[:documents].present? && @results.to_hash[:documents].first[:document][:top_result] %>
    <meta name="govuk:relevant-result-shown" content="yes">
  <% end %>

  <%= finder_top_result_variant.analytics_meta_tag.html_safe if finder.eu_exit_finder? %>
<% end %>

<% content_for :meta_title, finder.name %>

<% if finder.show_phase_banner? %>
  <%= render 'govuk_publishing_components/components/phase_banner', phase: finder.phase, message: finder.phase_message%>
<% end %>

<% if @breadcrumbs.breadcrumbs %>
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: @breadcrumbs.breadcrumbs %>
<% else %>
  <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @raw_content_item %>
<% end %>

<% if finder.government? %>
  <%= render 'govuk_publishing_components/components/government_navigation', active: finder.government_content_section %>
<% end %>

<form method="get" action="<%= finder.slug %>" class="js-live-search-form">
  <input type="hidden" name="parent" value="<%= @parent %>">

  <header class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if finder.all_content_finder? %>
        <% label_text = capture do %>
          <h1 class="app-c-search-page-heading">Search<span class="govuk-visually-hidden"> all content</span></h1>
        <% end %>
        <div id="keywords" class="app-patch--search-input-override">
          <%= render "govuk_publishing_components/components/input", {
            controls: "js-search-results-info",
            id: "finder-keyword-search",
            label: {
              text: label_text,
            },
            name: "keywords",
            search_icon: true,
            type: 'search',
            value: @results.user_supplied_keywords,
          } %>
        </div>
      <% else %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: {
            context: finder.human_readable_finder_format,
            title: finder.name
        } %>
      <% end %>

      <% if finder.page_metadata.any? %>
        <%= render 'govuk_publishing_components/components/metadata', page_metadata(finder.page_metadata) %>
      <% end %>

      <% if finder.summary %>
        <div class="summary">
          <%= render 'govuk_publishing_components/components/govspeak', content: finder.summary.html_safe %>
        </div>
      <% end %>
    </div>

    <% if finder.logo_path %>
      <div class="logo govuk-grid-column-one-third">
        <%= image_tag finder.logo_path, id: "logo-image" %>
      </div>
    <% end %>

    <% if finder.related.any? %>
      <div class="related-links govuk-grid-column-one-third">
        <ul class="finder-results">
          <% finder.related.each do |link| %>
            <li><%= link_to link['title'], link['web_url'] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third" role="search" aria-label="<%= finder.name %>">
      <%= render finder.facets %>
    </div>

    <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="<%= finder.name %> search results">
      <div aria-live="assertive" id="js-search-results-info" data-module="remove-filter">
        <div class="result-info">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <%= render_mustache('result_count', @results.to_hash) %>
            </div>
            <% if @results.has_email_signup_link? %>
              <div class="govuk-grid-column-two-thirds">
                <%= render "govuk_publishing_components/components/subscription-links", @results.signup_links %>
              </div>
            <% end %>
          </div>
          <%= render_mustache('result_facet_tags', @results.to_hash) %>
        </div>
      </div>

      <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

      <% if finder.sort %>
        <div class="govuk-form-group">
          <%= label_tag 'order', 'Sort by', class: 'result-region-header__sort-label govuk-label' %>
          <%= select_tag 'order', finder.sort_options,
            class: 'js-order-results govuk-select',
            'aria-controls': 'js-search-results-info',
            data: { 'default-sort-option' => finder.default_sort_option_value,
                    'relevance-sort-option' => finder.relevance_sort_option_value,
                    'module' => 'track-select-change'} %>
        </div>
      <% end %>

      <div id="js-results">
        <%= render_mustache('results', @results.to_hash) %>
      </div>

    </div>
  </div>
</form>
