<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{result_set_presenter.user_supplied_keywords} - #{content_item.title}" %>
<% else %>
  <% content_for :title, content_item.title %>
<% end %>

<% content_for :head do %>
  <%= render 'finder_meta', content_item: content_item %>
  <meta name="govuk:search-result-count" content="<%= result_set_presenter.total_count %>">
  <% if result_set_presenter.discovery_engine_attribution_token %>
    <meta name="govuk:discovery-engine-attribution-token" content="<%= result_set_presenter.discovery_engine_attribution_token %>">
  <% end %>
<% end %>
<% content_for :meta_title, content_item.title %>

<form method="get" action="<%= content_item.base_path %>" data-ga4-change-category="clear-all-filters">
  <%= hidden_field_tag :parent, @parent if @parent.present? %>

  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: content_item.as_hash %>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div id="keywords" role="search" aria-label="Sitewide" data-ga4-change-category="update-keyword text">
          <%= render "govuk_publishing_components/components/search_with_autocomplete", {
            id: "finder-keyword-search",
            name: "keywords",
            type: 'search',
            label_text: sanitize("Search <span class='govuk-visually-hidden'>all content on</span> GOV.UK"),
            wrap_label_in_a_heading: true,
            heading_level: 1,
            label_size: "xl",
            value: result_set_presenter.user_supplied_keywords,
            disable_corrections: true,
            source: "https://www.gov.uk/api/search.json?suggest=autocomplete",
            source_key: "suggested_autocomplete"
          } %>
        </div>

        <div class="spelling-suggestions">
          <%= render 'spelling_suggestion' %>
        </div>

        <%= render "govuk_publishing_components/components/skip_link", {
          text: 'Skip to results',
          href: '#search-results',}
        %>

        <%= render "components/filter_panel", {
          button_text: "Filter and sort",
          result_count: result_set_presenter.total_count,
          margin_bottom: 3,
        } do %>

          <div class="app-c-filter-panel__section">
            <%= render 'components/sort' %>
          </div>

          <div class="app-c-filter-panel__section">
            <%= render 'components/filters/date' %>
          </div>

          <div class="app-c-filter-panel__section">
            <%= render 'components/filters/topic' %>
          </div>

          <div class="app-c-filter-panel__section border-hack govuk-!-padding-bottom-3">
            <%= render 'components/filters/type' %>
          </div>

          <% hidden_facets = facets.select { _1.type.in?(%w[hidden hidden_clearable]) } %>
          <% hidden_facets.each do |hf| %>
            <%= render hf, facet: hf %>
          <% end %>

          <div class="govuk-button-group govuk-!-margin-top-2">
            <%= render "govuk_publishing_components/components/button", {
              text: "Apply filters",
              type: "submit",
            } %>

          <% facet_presenter = facet_tags.present %>
          <% if facet_presenter[:applied_filters].any? || (params[:order].present? && !params[:order].in?(%w[relevance most-viewed])) %>
              <%= link_to "Clear all", finder_path("search/all", q: result_set_presenter.user_supplied_keywords), class: "govuk-link govuk-link--no-visited-state" %>
          <% end %>
          </div>
        <% end %>

        <% facet_presenter = facet_tags.present %>
        <% if facet_presenter[:applied_filters].any? || (params[:order].present? && !params[:order].in?(%w[relevance most-viewed])) %>
          <div id="search-selected-facets" class="govuk-!-margin-bottom-4">
            <%= render "govuk_publishing_components/components/heading", {
              text: "Selected filters and sorting",
              heading_level: 2,
              font_size: "s",
              margin_bottom: 2,
            } %>

            <ul class="facet-tag-list">
              <%
                filter_links = facet_presenter[:applied_filters].flat_map { |applied_filter|
                  applied_filter.map { |filter|
                    value = if filter[:data_facet] == "level_one_taxon"
                              "Topic: #{filter[:text]}"
                            elsif filter[:data_facet] == "level_two_taxon"
                              "Sub-topic: #{filter[:text]}"
                            elsif filter[:data_facet] == "content_purpose_supergroup"
                              "Type: #{filter[:text]}"
                            elsif filter[:data_name] == "public_timestamp[from]"
                              "After: #{filter[:text]}"
                            elsif filter[:data_name] == "public_timestamp[to]"
                              "Before: #{filter[:text]}"
                            else
                              filter[:text]
                            end

                    remove_param = if filter[:data_facet] == "level_one_taxon"
                                      %w[level_one_taxon level_two_taxon]
                                  elsif filter[:data_name] == "public_timestamp[from]"
                                      %w[public_timestamp public_timestamp_separate_from]
                                  elsif filter[:data_name] == "public_timestamp[to]"
                                      %w[public_timestamp public_timestamp_separate_to]
                                  else
                                      [filter[:data_facet]]
                                  end

                    link = url_for(params.to_unsafe_h.except(*remove_param))

                    [value, link]
                  }
                }
              %>
              <% if params[:order].present? && !params[:order].in?(%w[relevance most-viewed]) %>
                <li class="facet-tag-list__item">
                  <% link = url_for(params.to_unsafe_h.except(:order)) %>
                  <%= link_to(link, class: "facet-tag-list__link") do %>
                    <span aria-hidden="true" class="facet-tag-list__remove-icon">
                      &#x2715;
                    </span>
                    <span class="govuk-visually-hidden">
                      Remove
                    </span>
                    Sort: <%= @sort_presenter.to_hash[:options].find { _1[:value] == params[:order] }[:label] %>
                  <% end %>
                </li>
              <% end %>
              <% filter_links.each do |text, link| %>
                <li class="facet-tag-list__item">
                  <%= link_to(link, class: "facet-tag-list__link") do %>
                    <span aria-hidden="true" class="facet-tag-list__remove-icon">
                      &#x2715;
                    </span>
                    <span class="govuk-visually-hidden">
                      Remove filter
                    </span>
                    <%= text %>
                  <% end %>
                </li>
              <% end %>
            </ul>

            <%= link_to "Clear all filters and sorting", finder_path("search/all", q: result_set_presenter.user_supplied_keywords), class: "govuk-link govuk-link--no-visited-state" %>
          </div>
        <% end %>

        <div id="search-results">
          <h2 class="govuk-visually-hidden">Search results</h2>

          <% if result_set_presenter.total_count.positive? %>
            <%= render "govuk_publishing_components/components/document_list", {
              disable_ga4: true,
              items: result_set_presenter.search_results_content[:document_list_component_data],
            } %>
          <% else %>
            <div class='no-results govuk-!-font-size-19'>
              <p class='govuk-body govuk-!-font-weight-bold'>There are no matching results.</p>
              <p class='govuk-body'>Improve your search results by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>removing filters</li>
                <li>double-checking your spelling</li>
                <li>using fewer keywords</li>
                <li>searching for something less specific</li>
              </ul>
            </div>
          <% end %>
        </div>

        <%= render "govuk_publishing_components/components/previous_and_next_navigation", @pagination.next_and_prev_links %>
      </div>
    </div>
  </div>
</div>
