<% content_for :title, finder.name %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, @results.atom_url) %>
  <%= render 'finder_meta', finder: finder %>
  <% if finder.canonical_link? %>
    <link rel="canonical" href="<%= ENV['GOVUK_WEBSITE_ROOT'] + finder.slug %>">
  <% end %>
<% end %>

<% if finder.show_phase_banner? %>
  <%= render 'govuk_publishing_components/components/phase_banner', phase: finder.phase, message: finder.phase_message%>
<% end %>

<% if @breadcrumbs.breadcrumbs %>
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: @breadcrumbs.breadcrumbs %>
<% else %>
  <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: @content_item %>
<% end %>

<% if finder.government? %>
  <%= render 'govuk_publishing_components/components/government_navigation', active: finder.government_content_section %>
<% end %>

<header>
  <div class="title-and-metadata">
    <%= render partial: 'govuk_publishing_components/components/title', locals: {
      context: finder.human_readable_finder_format,
      title: finder.name
    } %>
    <% if finder.page_metadata.any? %>
      <%= render 'govuk_publishing_components/components/metadata', page_metadata(finder.page_metadata) %>
    <% end %>

    <% if finder.summary %>
      <div class="summary">
        <%= render 'govuk_publishing_components/components/govspeak', content: finder.summary.html_safe %>
      </div>
    <% end %>

    <% if finder.email_alert_signup_url && !finder.is_business_finder? %>
      <p class='email-link'>
        <%= link_to "Subscribe to email alerts", finder.email_alert_signup_url %>
      </p>
    <% end %>
  </div>

  <% if finder.logo_path %>
    <div class="logo">
      <%= image_tag finder.logo_path, id: "logo-image" %>
    </div>
  <% end %>

  <% if finder.related.any? %>
    <div class='related-links'>
      <ul>
        <% finder.related.each do |link| %>
          <li><%= link_to link['title'], link['web_url'] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</header>

<div class="grid-row">
  <form method="get" action="<%= finder.slug %>" class="js-live-search-form">
      <div class="column-third">
        <%= render finder.facets %>
      </div>

      <div class="column-two-thirds business-finder-search">

        <%
          # Copying the search component here purely for prototype purposes
          # TODO: adjust search component in govuk_publishing_components to meet our needs and use this.
        %>
        <% if finder.is_business_finder? && finder.show_keyword_search? %>
          <div class="gem-c-search gem-c-search--on-white gem-c-search--separate-label" data-module="gem-toggle-input-class-on-focus">
            <label for="finder-keyword-search" class="gem-c-search__label">Ask a question</label>
            <a class="business-finder-search__clear js-search-clear <%= "js-hidden" if @results.user_supplied_keywords.empty? %>"  href="/">Clear search</a>
            <div class="gem-c-search__item-wrapper">
              <input type="search" value="<%= @results.user_supplied_keywords %>" id="finder-keyword-search" name="keywords" title="Search" class="gem-c-search__item gem-c-search__input js-class-toggle">
              <div class="gem-c-search__item gem-c-search__submit-wrapper">
                <button type="submit" class="gem-c-search__submit js-finder-search-submit">Search</button>
              </div>
            </div>
          </div>
        <% end %>

        <div class='js-live-search-results-block'>
          <div class="filtered-results">
            <span id="js-search-results-info" style="display:none"></span>
            <div aria-live='assertive' data-module="remove-filter" class="business-finder__results">
              <h1 class="govuk-heading-l search-results-title">Results</h1>
                <% if finder.email_alert_signup_url && finder.is_business_finder? %>
                  <p class='email-link'>
                    <span>Get updates to this list</span>
                    <%= link_to "email", finder.email_alert_signup_url %>
                  </p>
                <% end %>
            </div>
            <div class="govuk-caption-l" id="live-search-loading-message"></div>
            <% if finder.sort.present? %>
              <div class="govuk-form-group">
                <%= label_tag 'order', "Sort <strong id='result-count'>#{@results.to_hash[:total]} #{@results.to_hash[:pluralised_document_noun]}</strong> by".html_safe, class: 'govuk-label' %>
                <%= select_tag 'order', finder.sort_options,
                  class: 'govuk-select js-order-results',
                  'aria-controls': 'js-search-results-info',
                  data: { 'default-sort-option' => finder.default_sort_option_value,
                          'relevance-sort-option' => finder.relevance_sort_option_value,
                          'module' => 'track-select-change'} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </form>
  <div class="column-two-thirds">
    <div class='js-live-search-results-block'>
      <div class="filtered-results results-info">
        <div id='js-results'>
          <%= render_mustache('results', @results.to_hash) %>
        </div>
      </div>
    </div>
    <% if finder.is_business_finder? %>
      <%= render partial: 'feedback_form' %>
    <% end %>
  </div>
</div>

