<% if @results.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{@results.user_supplied_keywords} - #{finder.name}" %>
<% else %>
  <% content_for :title, finder.name %>
<% end %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, @results.signup_links[:feed_link]) %>
  <%= render 'finder_meta', finder: finder %>

  <% if @results.documents.present? && @results.documents.first[:document][:top_result] %>
    <meta name="govuk:relevant-result-shown" content="yes">
  <% end %>

  <%= finder_top_result_variant.analytics_meta_tag.html_safe if finder.eu_exit_finder? %>
<% end %>

<% content_for :meta_title, finder.name %>

<% if finder.topic_finder? %>
  <% content_for :body_classes, "full-width" %>
  <% inverse = true %>
<% end %>

<form method="get" action="<%= finder.slug %>" class="js-live-search-form">
  <input type="hidden" name="parent" value="<%= @parent %>">

  <div class="<%= "gem-c-inverse-header gem-c-inverse-header--full-width gem-c-inverse-header--padding-top" if finder.topic_finder? %>">
    <%= render partial: 'show_header', locals: { inverse: inverse } %>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" role="search" aria-label="<%= finder.name %>">
        <%= render finder.facets %>
      </div>

      <div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="<%= finder.name %> search results">
        <div aria-live="assertive" id="js-search-results-info" data-module="remove-filter">
          <div class="result-info">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h2 class="result-region-header__counter" id="js-result-count">
                  <%= @results.displayed_total %>
                </h2>
              </div>
              <% if @results.has_email_signup_link? %>
                <div class="govuk-grid-column-two-thirds">
                  <%= render "govuk_publishing_components/components/subscription-links", @results.signup_links %>
                </div>
              <% end %>
            </div>
            <div id="js-facet-tag-wrapper">
              <%= render "facet_tags", facet_tags.present %>
            </div>
          </div>
        </div>

        <div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

        <div id="js-sort-options">
          <%= render "sort_options", @sort_presenter.to_hash %>
        </div>

        <div id="js-results">
          <%= render "search_results", @results.search_results_content %>
        </div>

        <div id="js-pagination">
          <%= render "govuk_publishing_components/components/previous_and_next_navigation", @pagination.next_and_prev_links %>
        </div>
      </div>
    </div>
  </div>
</form>
