<% if result_set_presenter.user_supplied_keywords.length > 0 %>
  <% content_for :title, "#{result_set_presenter.user_supplied_keywords} - #{content_item.title}" %>
<% else %>
  <% content_for :title, content_item.title %>
<% end %>

<% content_for :head do %>
  <%= render 'finder_meta', content_item: content_item %>
  <meta name="govuk:search-result-count" content="<%= result_set_presenter.total_count %>">
  <% if result_set_presenter.discovery_engine_attribution_token %>
    <meta name="govuk:discovery-engine-attribution-token" content="<%= result_set_presenter.discovery_engine_attribution_token %>">
  <% end %>
<% end %>
<% content_for :meta_title, content_item.title %>

<form method="get" action="<%= content_item.base_path %>" data-ga4-change-category="clear-all-filters">
  <%= hidden_field_tag :parent, @parent if @parent.present? %>

  <div class="govuk-width-container">
    <%= render 'govuk_publishing_components/components/contextual_breadcrumbs', content_item: content_item.as_hash %>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div id="keywords" role="search" aria-label="Sitewide" data-ga4-change-category="update-keyword text">
          <%= render "govuk_publishing_components/components/search_with_autocomplete", {
            id: "finder-keyword-search",
            name: "keywords",
            type: 'search',
            label_text: sanitize("Search <span class='govuk-visually-hidden'>all content on</span> GOV.UK"),
            wrap_label_in_a_heading: true,
            heading_level: 1,
            label_size: "xl",
            value: result_set_presenter.user_supplied_keywords,
            disable_corrections: true,
            source: "https://www.gov.uk/api/search.json?suggest=autocomplete",
            source_key: "suggested_autocomplete"
          } %>
        </div>

        <div class="spelling-suggestions">
          <%= render 'spelling_suggestion' %>
        </div>

        <%= render "govuk_publishing_components/components/skip_link", {
          text: 'Skip to results',
          href: '#search-results',}
        %>

        <%= render "components/filter_panel", {
          button_text: "Filter and sort",
          result_count: result_set_presenter.total_count,
          margin_bottom: 3,
          open: true # TODO: remove, just helps us show the panel open during dev
        } do %>
          <h3 class="govuk-heading-s">Sort by</h3>
          <%= render "sort_options", @sort_presenter.to_hash %>

          <h3 class="govuk-heading-s">Date</h3>
          <% date_facet = facets.select { _1.key == "public_timestamp" }.first %>
          <div class="govuk-!-margin-bottom-0" id="<%= date_facet.key %>">
            <%= render "govuk_publishing_components/components/input", {
              label: {
                text: date_facet.name + " after"
              },
              name: date_facet.key + "[from]",
              id: date_facet.key + "[from]",
              value: date_facet.user_supplied_from_date,
              hint: "For example, 2005 or 21/11/2014",
              error_message: date_facet.error_message_from(@search_query),
              data: {
                ga4_section: date_facet.name + " after"
              }
            } %>

            <%= render "govuk_publishing_components/components/input", {
              label: {
                text: date_facet.name + " before"
              },
              name: date_facet.key + "[to]",
              id: date_facet.key + "[to]",
              value: date_facet.user_supplied_to_date,
              hint: "For example, 2005 or 21/11/2014",
              error_message: date_facet.error_message_to(@search_query),
              data: {
                ga4_section: date_facet.name + " before"
              }
            } %>
          </div>

          <h3 class="govuk-heading-s">Topic</h3>
          <% taxon_facet = facets.select { _1.type == "taxon" }.first %>
          <div class="js-taxonomy-select" data-module="taxonomy-select">
            <%= render "govuk_publishing_components/components/select", {
              id: 'level_one_taxon',
              label: "Topic",
              full_width: true,
              options: taxon_facet.topics
            } %>

            <div class="js-required govuk-form-group">
              <%= render "govuk_publishing_components/components/select", {
                id: 'level_two_taxon',
                label: "Sub-topic",
                full_width: true,
                options: taxon_facet.sub_topics
              } %>
            </div>
          </div>

          <h3 class="govuk-heading-s">Type</h3>
          <% type_facet = facets.select { _1.key == "content_purpose_supergroup" }.first %>
          <%= render partial: 'govuk_publishing_components/components/option_select', locals: {
            key: type_facet.key,
            title: type_facet.name,
            options_container_id: type_facet.key,
            options: type_facet.options(nil, type_facet.key),
            show_filter: type_facet.show_option_select_filter,
            large: type_facet.large?,
          } %>

          <% hidden_facets = facets.select { _1.type.in?(%w[hidden hidden_clearable]) } %>
          <% hidden_facets.each do |hf| %>
            <%= render hf, facet: hf %>
          <% end %>

          <%= render "govuk_publishing_components/components/button", {
            text: "Apply filters",
            type: "submit",
          } %>
        <% end %>

        <div id="search-results">
          <% if result_set_presenter.total_count.positive? %>
            <%= render "govuk_publishing_components/components/document_list", {
              disable_ga4: true,
              items: result_set_presenter.search_results_content[:document_list_component_data],
            } %>
          <% else %>
            <div class='no-results govuk-!-font-size-19'>
              <p class='govuk-body govuk-!-font-weight-bold'>There are no matching results.</p>
              <p class='govuk-body'>Improve your search results by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>removing filters</li>
                <li>double-checking your spelling</li>
                <li>using fewer keywords</li>
                <li>searching for something less specific</li>
              </ul>
            </div>
          <% end %>
        </div>

        <%= render "govuk_publishing_components/components/previous_and_next_navigation", @pagination.next_and_prev_links %>
      </div>
    </div>
  </div>
</div>
