<% items.each do | action | %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-body govuk-!-font-weight-bold">
        <a href="<%= action.path %>" class="govuk-link"><%= action.title %></a>
      </p>
      <% if action.description.present? %>
        <p class="govuk-body govuk-!-font-size-16">
          <%= action.description %>
        </p>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <% if action.lead_time.present? %>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold checklist-result__leadtime">
          <%= action.lead_time %>
        </p>
      <% end %>
    </div>
  </div>

  <% if action.guidance_text.present? && action.guidance_url.present? %>
    <a href="<%= action.guidance_url %>" class="govuk-link"><%= action_guidance_link_text(action) %></a>
  <% end %>
<% end %>
