<div class="checklist-results-answers">
  <% if answers.present? %>
    <p class="govuk-body govuk-!-font-weight-bold"><%= t('checklists_results.answers.list_context') %></p>
    <ul class="govuk-list govuk-!-margin-top-3 govuk-!-font-size-16">
      <% answers.each do |answer| %>
        <li>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-tenth">
              <%= image_tag 'check', class: "checklist-results-answers__check" %>
            </div>
            <div class="govuk-grid-column-nine-tenths">
              <%= answer[:readable_text] %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="govuk-body govuk-!-font-size-16"><%= t('checklists_results.answers.no_answers') %></p>
  <% end %>

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16">
    <a
      class="govuk-link"
      data-module="track-click"
      data-track-action="ChangeAnswers"
      data-track-category="ChangeAnswersClicked"
      data-track-label="<%= checklist_questions_path(filtered_params) %>"
      href="<%= checklist_questions_path(filtered_params) %>"
    >
      <%= t('checklists_results.answers.change_answers') %>
    </a>
  </p>
</div>
