<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Get emails when pages are added or updated</h1>

    <%= form_tag create_checklist_email_frequency_path do %>
      <%= hidden_field_tag :topic_id, @topic_id %>
      <%= hidden_field_tag :url, @url %>

      <%= render "govuk_publishing_components/components/fieldset", {
        legend_text: '<h2 class="govuk-heading-m">How often do you want to get updates?</h2>'.html_safe,
      } do %>
        <%= render "govuk_publishing_components/components/radio", {
          name: "frequency",
          items: frequencies
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Next",
        margin_bottom: true,
        data_attributes: {
          module: 'auto-track-event',
          track_category: 'email_subscriptions',
          track_action: 'new_frequency',
          track_label: @topic_id,
        },
      } %>
    <% end %>
  </div>
</div>
