<% content_for :title, t('checklists.title') %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="GOV.UK">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= t('checklists_results.social_media_meta.title') %>">
    <meta property="og:description" content="<%= t('checklists_results.social_media_meta.description') %>">
    <meta name="twitter:card" content="summary">
  <% end %>
<% end %>

<div class="govuk-width-container checklist-results-page">
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: [
    {
      title: t('checklists_results.breadcrumbs.home'),
      url: "/"
    },
    {
      title: t('checklists_results.breadcrumbs.brexit-home'),
      url: "/brexit"
    },
    {
      title: t('checklists_results.breadcrumbs.brexit-check'),
      url: "/get-ready-brexit-check"
    }
  ] %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: t('checklists_results.title')
      } %>
      <p class="govuk-body-l">
        <%= action_based_description %>
      </p>
    </div>
  </div>

  <% if criteria_keys.present? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render './components/email_link', {
          data_attributes: {
            "module": "track-click",
            "track-action": action_based_email_link_label,
            "track-category": "StayUpdated",
            "track-label": checklist_email_signup_path(c: criteria_keys)
          },
          link_text: action_based_email_link_label,
          link_href: checklist_email_signup_path(c: criteria_keys),
        } %>
      </div>
    </div>
  <% end %>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'results_answers', answers: format_criteria_list(@criteria) %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'action_audiences', audiences: format_action_audiences(@actions) %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">

  <% if criteria_keys.present? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        &nbsp; <!-- without this space, it will push the two-thirds column to the left -->
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'stay_updated' %>
      </div>
    </div>
  <% end %>
</div>
