<%
  action_based_email_link_label = @actions.any? ? t('checklists_results.email_sign_up_link') : t('checklists_results.email_sign_up_link_no_actions')
  action_based_title            = if @actions.any?
                                    t('checklists_results.title')
                                  elsif criteria_keys.present?
                                    t('checklists_results.title_no_actions')
                                  else
                                    t('checklists_results.title_no_answers')
                                  end
  action_based_description      = if @actions.any?
                                    t('checklists_results.description')
                                  elsif criteria_keys.present?
                                    t('checklists_results.description_no_actions')
                                  else
                                    t('checklists_results.description_no_answers')
                                  end
%>

<% content_for :title, t('checklists_results.title') %>
<% content_for :head do %>
  <% page_url = request.base_url + request.path %>
  <meta name="robots" content="noindex">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="GOV.UK">
  <meta property="og:url" content="<%= page_url %>">
  <meta property="og:title" content="<%= t('checklists_results.social_media_meta.title') %>">
  <meta property="og:description" content="<%= t('checklists_results.social_media_meta.description') %>">
  <meta name="twitter:card" content="summary">
  <link rel="canonical" href="<%= page_url %>">
<% end %>

<div class="govuk-width-container checklist-results-page">
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: [
    {
      title: t('checklists_results.breadcrumbs.home'),
      url: "/"
    },
    {
      title: t('checklists_results.breadcrumbs.brexit-home'),
      url: "/brexit"
    },
    {
      title: t('checklists_results.breadcrumbs.brexit-check'),
      url: "/get-ready-brexit-check"
    }
  ] %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: action_based_title
      } %>
      <% unless @actions.any? %>
        <p class="govuk-body-l">
          <%= action_based_description %>
        </p>
      <% end %>
      <% unless criteria_keys.present? %>
        <p class="govuk-body-l">
          <%= render "change_answers_link" %>
        </p>
      <% end %>
    </div>
  </div>

  <% if criteria_keys.present? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render './components/email_link', {
          data_attributes: {
            "module": "track-click",
            "track-action": action_based_email_link_label,
            "track-category": "StayUpdated",
            "track-label": checklist_email_signup_path(c: criteria_keys)
          },
          link_text: action_based_email_link_label,
          link_href: checklist_email_signup_path(c: criteria_keys),
        } %>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
        <%= render 'results_answers', answers: format_criteria_list(@criteria) %>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'action_audiences', audiences: format_action_audiences(@actions), action_based_description: action_based_description %>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        &nbsp; <!-- without this space, it will push the two-thirds column to the left -->
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'stay_updated' %>
      </div>
    </div>
  <% end %>
</div>
