<% content_for :title, t('checklists.title') %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<div class="govuk-width-container checklist-results-page">
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: [
    {
      title: t('checklists_results.breadcrumbs.home'),
      url: "/"
    },
    {
      title: t('checklists_results.breadcrumbs.q_and_a'),
      url: checklist_questions_path(filtered_params)
    }
  ] %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: t('checklists_results.title')
      } %>
      <p class="govuk-body-l">
        <%= t('checklists_results.description') %>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render './components/email_link', {
        link_text: t('checklists_results.email_sign_up_link'),
        link_href: "#stay-updated"
      } %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'results_answers', answers: format_criteria_list(@criteria) %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'action_audiences', audiences: format_action_audiences(@actions) %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-section-break--bold">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      &nbsp; <!-- without this space, it will push the two-thirds column to the left -->
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'stay_updated' %>
    </div>
  </div>
</div>
