<% content_for :title, "Brexit checklist development" %>

<%= render "govuk_publishing_components/components/back_link", href: "/development" %>

<%= render "govuk_publishing_components/components/title", title: "Brexit checklist development" %>

<%= render "govuk_publishing_components/components/heading", level: 2, text: "All things tagged to checklist facets" %>

<%= render "govuk_publishing_components/components/govspeak" do %>
  <ul>
  <% @all_possible_checklist_items.each do |page| %>
    <li>
      <%= link_to page.fetch("title"), page.fetch("link") %><br/>
      facets:
      <% Services.content_store.content_item(page.fetch("link"))["links"]["facet_values"].each do |f| %>
        <%= tag.span f["details"]["value"], class: "govuk-tag" %>
      <% end %>
      | <%= link_to "update facets", "https://content-tagger.publishing.service.gov.uk/facet_groups/#{DevelopmentController::CHECKLIST_FACET_GROUP}/facet_taggings/#{page.fetch("content_id")}" %>
    </li>
  <% end %>
  </ul>
<% end %>
