<% content_for :title, title %>
<% content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>


<%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: breadcrumbs %>
<div class="grid-row">
  <div class="column-two-thirds">
    
    <form action="" method="get">

      <%= render "govuk_publishing_components/components/title", {
        title: first_question["question"],
        margin_bottom: 4
      } %>
      <%= render "govuk_publishing_components/components/hint", {
        text: first_question["hint"].html_safe,
        classes: "govuk-!-padding-bottom-5"
      } %>
      <%= render "govuk_publishing_components/components/radio", {
        name: first_question["id"],
        items: format_options(first_question["options"])
      } %>
      <%= render "govuk_publishing_components/components/button", {
        text: "Next"
      } %>
    </form>

  </div>
</div>
