<% content_for :title, title %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<%
  formatted_description = nil
  if current_facet["description"]
    formatted_description = render("govuk_publishing_components/components/govspeak", {
      content: current_facet["description"].html_safe
    })
  end
%>

<div class="govuk-width-container">
  <%= render 'govuk_publishing_components/components/breadcrumbs', breadcrumbs: breadcrumbs %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="<%= next_page_url %>" method="get" id="finder-qa-facet-filter-selection" data-module="track-qa-choices">
        <% if multiple_grouped_question? %>
          <%= render "govuk_publishing_components/components/title", {
            title: current_facet["question"],
          } %>
          <%= formatted_description %>
          <% filter_groups.each do |filter_group| %>
            <%= render "govuk_publishing_components/components/checkboxes", {
              name: "#{current_facet['facet']['key']}[]",
              heading: filter_group["name"],
              no_hint_text: true,
              items: nested_options(filter_group)
            } %>
          <% end %>
        <% elsif multiple_question? %>
          <div class="govuk-!-margin-top-8">
            <%= render "govuk_publishing_components/components/checkboxes", {
              name: "#{current_facet['facet']['key']}[]",
              heading: current_facet["question"],
              description: formatted_description,
              hint_text: current_facet["hint_title"],
              is_page_heading: true,
              items: options
            } %>
          </div>
        <% elsif single_wrapped_question? %>
          <% checkboxes = render "govuk_publishing_components/components/checkboxes", {
            name: "#{current_facet['facet']['key']}[]",
            heading: current_facet["question"],
            visually_hide_heading: true,
            items: options
          } %>
          <div class="govuk-!-margin-top-8">
            <%= render "govuk_publishing_components/components/radio", {
              name: "#{current_facet['facet']['key']}-yesno",
              heading: current_facet["question"],
              description: formatted_description,
              hint_text: current_facet["hint_title"],
              is_page_heading: true,
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  conditional: checkboxes
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            } %>
          </div>
        <% else %>
          <div class="govuk-!-margin-top-8">
            <%= render "govuk_publishing_components/components/radio", {
              name: "#{current_facet['facet']['key']}[]",
              heading: current_facet["question"],
              description: formatted_description,
              hint_text: current_facet["hint_title"],
              is_page_heading: true,
              items: options
            } %>
          </div>
        <% end %>
        <% filtered_params.each_pair do |key, value| %>
          <% if value.is_a?(Array) %>
            <% value.each do |v| %>
              <input type="hidden" name="<%= key %>[]" value="<%= v %>">
            <% end %>
          <% else %>
            <input type="hidden" name="<%= key %>" value="<%= value %>">
          <% end %>
        <% end %>
          <input type="hidden" name="page" value="<%= next_page %>">
        <% unless current_facet["hint_text"].nil? || current_facet["hint_title"].nil? %>
          <%= render "govuk_publishing_components/components/details", {
            title: current_facet["hint_title"]
          } do %>
            <%= current_facet["hint_text"] %>
          <% end %>
        <% end %>
        <div class="govuk-form-footer">
          <%= render "govuk_publishing_components/components/button", {
            text: "Next"
          } %>
          <a class="govuk-form-footer__alt-cta-link" href="<%= skip_link_url %>">Skip this question</a>
        </div>
      </form>
    </div>
  </div>
</div>
