<% content_for :title, finder.title %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, @results.atom_url) %>
  <%= render 'finder_meta', finder: finder %>
<% end %>

<% if finder.show_phase_banner? %>
  <%= render 'govuk_publishing_components/components/phase_banner', phase: finder.phase, message: finder.phase_message%>
<% end %>

<%= render "govuk_publishing_components/components/inverse_header", { full_width: true } do %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render 'govuk_publishing_components/components/breadcrumbs', finder.breadcrumbs.merge(inverse: true) %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= finder.taxon_link %>
        <%= render partial: 'govuk_publishing_components/components/title', locals: { title: finder.title, inverse: true } %>

        <% if finder.email_alert_signup_url %>
          <p class='email-link'>
            <%= link_to 'Subscribe to email alerts', finder.email_alert_signup_url %>
          </p>
        <% end %>
      </div>

      <% if finder.logo_path %>
        <div class="logo govuk-grid-column-one-third">
          <%= image_tag finder.logo_path, id: "logo-image" %>
        </div>
      <% end %>

      <% if finder.related.any? %>
        <div class="related-links govuk-grid-column-one-third">
          <ul>
            <% finder.related.each do |link| %>
              <li><%= link_to link['title'], link['web_url'] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="govuk-width-container">
  <form method="get" action="<%= finder.slug %>" class="js-live-search-form">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <%= render finder.facets %>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="js-live-search-results-block" data-module="remove-filter">
          <div class="filtered-results">
            <div class="result-info">
              <h2 class="result-region-header__counter" id="js-result-count">
                <%= @results.displayed_total %>
              </h2>
              <div id="js-facet-tag-wrapper">
                <%= render 'finders/facet_tags', @results.facet_tags_content %>
              </div>
            </div>

            <div id="js-results">
              <%= render 'finders/search_results', @results.search_results_content %>
            </div>

            <div id="js-pagination">
              <%= @results.next_and_prev_links %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
