<% content_for :title, @signup_presenter.page_title %>
<% content_for :head do %>
  <%= render 'email_alert_subscription_meta', email_alert_subscription: @signup_presenter %>
<% end %>

<% if @signup_presenter.beta? %>
  <%= render 'govuk_publishing_components/components/phase_banner', phase: "beta" %>
<% end %>

<div class="govuk-width-container">

  <% if @signup_presenter.selected_taxon %>
    <%= render partial: 'govuk_publishing_components/components/title', locals: {
      title: @signup_presenter.selected_taxon[:title],
      context: "Email alert subscription"
    } %>

    <h1 class="govuk-heading-l">What do you want to get alerts about?</h1>

    <%= form_tag email_alert_subscriptions_path(@signup_presenter.taxon_facet.query_params), class: 'signup-choices' do %>
      <p>Everything published to GOV.UK about</p>

      <%= render "govuk_publishing_components/components/radio", {
        name: "subscriber_list_params[all_part_of_taxonomy_tree]",
        items: [{
          value: @signup_presenter.selected_taxon[:value],
          text: @signup_presenter.selected_taxon[:text],
          checked: true,
          conditional: @signup_presenter.sub_taxons.any? ? '<p class="govuk-body">This will include alerts about all the topics below</p>'.html_safe : nil,
        }]
      } %>

      <% if @signup_presenter.sub_taxons.any? %>
        <p>or only one of the following <%= @signup_presenter.sub_taxons.count %> topics</p>

        <%= render "govuk_publishing_components/components/radio", {
          name: "subscriber_list_params[all_part_of_taxonomy_tree]",
          items: @signup_presenter.sub_taxons.map { |sub_taxon| {
            value: sub_taxon["content_id"],
            text: sub_taxon["title"],
            conditional: sub_taxon["description"].present? ? ("<p class=\"govuk-body\">This will include: #{sub_taxon["description"]}</p>").html_safe : nil
          } }
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Create subscription",
        margin_bottom: true
      } %>
    <% end %>

  <% else %>

    <%= render partial: 'govuk_publishing_components/components/title', locals: {
      title: @signup_presenter.name,
      context: "Email alert subscription"
    } %>

    <%= form_tag email_alert_subscriptions_path(subscriber_list_params: subscriber_list_params), class: 'signup-choices' do %>
      <% if @signup_presenter.can_modify_choices? %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: nil,
          heading: @signup_presenter.name,
          hint_text: "Choose the email alerts you need.",
          items: @signup_presenter.choices_formatted,
          visually_hide_heading: true
        } %>
      <% end %>

      <% if @error_message.present? %>
        <p class="signup-choices__message"><%= @error_message %></p>
      <% end %>

      <% @signup_presenter.hidden_choices.each do |hidden_choice| %>
        <%= hidden_field_tag hidden_choice[:name], hidden_choice[:value] %>
      <% end %>

      <% if @signup_presenter.body && !@signup_presenter.can_modify_choices? %>
        <div class="govspeak-wrapper">
          <%= render 'govuk_publishing_components/components/govspeak', content: @signup_presenter.body.html_safe %>
        </div>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Create subscription",
        margin_bottom: true
      } %>

    <% end %>
  <% end %>

</div>
