<% content_for :title, @signup.page_title %>

<header class="signups">
  <% if @signup.beta? %>
    <%= render partial: 'govuk_component/beta_label' %>
  <% end %>
  <h1>
    <span class="aside">Email alert subscription</span>
    <%= @signup.name %>
  </h1>
</header>

<div class="outer-block">
  <div class="inner-block signup-content">
    <%= form_tag email_alert_subscriptions_path, class: 'signup-choices form' do %>
      <% if @signup.choices? %>
        <fieldset<%= ' class="invalid"'.html_safe if @error_message.present? %> aria-labelledby="fieldset-title">
          <p id="fieldset-title">
            Select the email alerts you need
          </p>
          <% @signup.choices.each do |choice| %>
            <%= label_tag "filter_#{choice.key}", class: 'block-label' do %>
              <%= check_box_tag "filter[]", choice.key, choice.prechecked, class: 'checkbox', id: "filter_#{choice.key}" %>
              <%= choice.radio_button_name %>
            <% end %>
          <% end %>
        </fieldset>
        <% if @error_message.present? %>
          <p class="validation-message"><%= @error_message %></p>
        <% end %>
      <% end %>

      <p><%= @signup.body %></p>
      <%= submit_tag 'Create subscription', class: "button" %>
    <% end %>

  </div>
</div>
