<% content_for :title, @signup.page_title %>

<header class="signups">
  <h1><%= @signup.title %></h1>
</header>

<div class="outer-block">
  <div class="inner-block signup-content">
    <p>You're signing up for e-mail alerts for <strong><%= @signup.name %></strong>.</p>

    <p><%= @signup.body %></p>

    <%= form_tag email_alert_subscriptions_path, class: 'signup-choices form' do %>
      <% if @signup.choices? %>
        <fieldset>
          <legend class="form-label-bold">
            Which types of <%= @signup.name.downcase %> do you want to sign up for?
          </legend>
          <% @signup.choices.each do |choice| %>
            <%= label_tag "choices[#{@signup.choice_key}][#{choice.key}]", class: 'block-label' do %>
              <%= check_box_tag "choices[#{@signup.choice_key}][#{choice.key}]" %>
              <strong><%= choice.name %></strong> - <%= choice.body %>
            <% end %>
          <% end %>
        </fieldset>
      <% end %>
      <%= submit_tag 'Create subscription', class: "button" %>
    <% end %>

    <p class="quiet">
      You can enter your email address on the next page to complete
      the subscription
    </p>
  </div>
</div>
