<% content_for :title, @signup_presenter.page_title %>
<% content_for :head do %>
  <%= render 'email_alert_subscription_meta', email_alert_subscription: @signup_presenter %>
<% end %>

<% if @signup_presenter.beta? %>
  <%= render 'govuk_publishing_components/components/phase_banner', phase: "beta" %>
<% end %>

<div class="govuk-width-container">
  <%= form_tag email_alert_subscriptions_path(subscriber_list_params: subscriber_list_params), class: 'signup-choices' do %>
    <%= render partial: 'govuk_publishing_components/components/title', locals: {
      title: @signup_presenter.name,
      context: "Email alert subscription"
    } %>

    <% if @signup_presenter.can_modify_choices? %>
      <%= render "govuk_publishing_components/components/checkboxes", {
        name: nil,
        heading: @signup_presenter.name,
        hint_text: "Choose the email alerts you need.",
        items: @signup_presenter.choices_formatted,
        visually_hide_heading: true
      } %>
    <% end %>
    <% if @error_message.present? %>
      <p class="signup-choices__message"><%= @error_message %></p>
    <% end %>

    <% @signup_presenter.hidden_choices.each do |hidden_choice| %>
      <%= hidden_field_tag hidden_choice[:name], hidden_choice[:value] %>
    <% end %>

    <% if @signup_presenter.body && !@signup_presenter.can_modify_choices? %>
      <div class="govspeak-wrapper">
        <%= render 'govuk_publishing_components/components/govspeak', content: @signup_presenter.body.html_safe %>
      </div>
    <% end %>

    <%= render "govuk_publishing_components/components/button", {
      text: "Create subscription",
      margin_bottom: true
    } %>
  <% end %>
</div>
