<% content_for :title, @signup.page_title %>

<header class="signups">
  <h1>
    <span class="aside">Email alert subscription</span>
    <%= @signup.name %>
  </h1>
</header>

<div class="outer-block">
  <div class="inner-block signup-content">
    <%= form_tag email_alert_subscriptions_path, class: 'signup-choices form' do %>
      <% if @signup.choices? %>
        <fieldset>
          <legend class="form-label-bold">
            Select the email alerts you need.
          </legend>
          <% @signup.choices.each do |choice| %>
            <%= label_tag "choices[#{@signup.choice_key}][#{choice.key}]", class: 'block-label' do %>
              <%= check_box_tag "choices[#{@signup.choice_key}][#{choice.key}]" %>
              <%= choice.name %>
            <% end %>
          <% end %>
        </fieldset>
      <% end %>

      <p><%= @signup.body %></p>
      <%= submit_tag 'Create subscription', class: "button" %>
    <% end %>

  </div>
</div>
