<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <% if params[:page] || params[:keywords] %>
      <meta name="robots" content="noindex">
    <% end %>
  </head>

  <body class="full-width">
    <div id="wrapper" class="govuk-width-container">
      <main id="content" role="main" class="finder-frontend-content">
        <div id="finder-frontend" class="advanced-search">
          <%= yield %>
        </div>
      </main>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
