<% content_for :body do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <%= render_component_stylesheets %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      rendering_app: "finder-frontend",
    }
  } %>
  <meta name="robots" content="noindex">
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: "#{yield(:title)} - GOV.UK",
  } do %>
  <%= yield :body %>
<% end %>