<% content_for :body do %>
  <%= yield :before_content %>
  <%= render "govuk_web_banners/recruitment_banner" %>
  <main id="content" class="<%= 'govuk-main-wrapper' unless content_for?(:main_element_class) %>">
    <div class="finder-frontend">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>
  <%= render_component_stylesheets %>
  <%= render "govuk_publishing_components/components/meta_tags", {
    content_item: {
      rendering_app: "finder-frontend",
    }
  } %>
  <% if params[:page] || params[:keywords] || params[:q] %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
  <%= yield :meta_tags %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: "#{yield(:title)} - GOV.UK",
      full_width: i_am_a_topic_page_finder,
      omit_feedback_footer: @omit_feedback_footer
  } do %>
  <div class="govuk-width-container">
    <%= yield :body %>
  </div>
<% end %>
