<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag 'application', integrity: true, crossorigin: 'anonymous' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <% if params[:page] || params[:keywords] || params[:q] %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
  </head>

  <body class="<%= yield :body_classes %>">
    <div id="wrapper">
      <main id="content" role="main" class="finder-frontend-content">
        <div id="finder-frontend">
          <%= yield %>
        </div>
      </main>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
