<% @omit_feedback_footer ||= nil %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag "application", integrity: false %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag 'application', integrity: false %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <% if params[:page] || params[:keywords] || params[:q] %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
  </head>

  <body class="<%= yield :body_classes %>">
    <div id="wrapper">
      <%= yield :breadcrumbs %>
      <main id="content" class="finder-frontend-content">
        <div class="finder-frontend">
          <%= yield %>
        </div>
      </main>
      <% unless @omit_feedback_footer %>
        <div class="govuk-width-container">
          <%= render 'govuk_publishing_components/components/feedback' %>
        </div>
      <% end %>
    </div>
  </body>
</html>
