<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag "application", integrity: true, crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag 'application', integrity: true, crossorigin: 'anonymous' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <% if params[:page] || params[:keywords] || params[:q] %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
  </head>

  <body class="<%= yield :body_classes %>">
    <div id="wrapper">
      <main id="content" role="main" class="finder-frontend-content">
        <div class="finder-frontend">
          <%= yield %>
        </div>
      </main>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
