<% title = yield :title %>

<%= content_for :head do %>
  <%= javascript_include_tag 'application', integrity: false, type: "module" %>
  <%= csrf_meta_tags %>
  <% if params[:page] || params[:keywords] || params[:q] %>
    <meta name="robots" content="noindex">
  <% end %>
  <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
  <%= yield :meta_tags %>
<% end %>

<% if @content_item %>
  <% if @content_item.base_path.include? "/aaib-reports" %>
    This is test data for bug fixing, ignore if you see this! <br/>
    <%= taxonomy_registry.taxonomy.keys %> <br/>
    <%= "taxonomy_registry.taxonomy.key?: #{taxonomy_registry.taxonomy.key?(params[:topic])}" %><br/>
    <%= "i_am_a_topic_page_finder: #{i_am_a_topic_page_finder}" %><br/>
    <%= "params[:topic]: #{params[:topic]}"%><br/>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
    title: safe_join([title, "GOV.UK"], " - "),
    emergency_banner: render("govuk_web_banners/emergency_banner"),
    global_banner: render("govuk_web_banners/global_banner"),
  } do %>
    <div class="<%= class_names("govuk-width-container" => !@full_width) %>">
      <%= yield :before_content %>
      <%= render "govuk_web_banners/recruitment_banner" %>

      <main id="content" class="<%= class_names('govuk-main-wrapper' => !content_for?(:inverse)) %>">
        <div class="finder-frontend">
          <%= yield %>
        </div>
      </main>
    </div>
<% end %>
