<% content_for :body do %>

  <%= yield :before_content %>

  <main id="content" class="finder-frontend-content">
    <div class="finder-frontend">
      <%= yield %>
    </div>
  </main>
<% end %>
<% @omit_feedback_footer ||= nil %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <%= stylesheet_link_tag "application", media: "all", integrity: false %>
    <%=
      render_component_stylesheets
    %>
    <%= javascript_include_tag 'test-dependencies.js', type: "module" if Rails.env.test? %>
    <%= javascript_include_tag 'application', integrity: false, type: "module" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <% if params[:page] || params[:keywords] || params[:q] %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="govuk:base_title" content="<%= yield :meta_title %> - GOV.UK">
    <%= yield :meta_tags %>
  </head>

  <body class="<%= yield :body_classes %>">
    <div id="wrapper">
      <%= yield :body %>
    </div>
  </body>
</html>
