<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
    <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application-site-search.css", integrity: true, crossorigin: 'anonymous' %><!--<![endif]-->
    <!--[if IE 6]><%= stylesheet_link_tag "application-site-search-ie6.css" %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag "application-site-search-ie7.css" %><![endif]-->
    <!--[if IE 8]><%= stylesheet_link_tag "application-site-search-ie8.css" %><![endif]-->
    <%= javascript_include_tag 'application-site-search', integrity: true, crossorigin: 'anonymous' %>
    <% if @content_item %>
      <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% end %>
    <%= yield :extra_headers %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="govuk-width-container">
      <%= yield %>
      <%= render 'govuk_publishing_components/components/feedback' %>
      <%= render_mustache_templates if Rails.env.development? %>
    </div>
  </body>
</html>
