<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - GOV.UK</title>
    <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
    <%= stylesheet_link_tag "application", integrity: false %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_include_tag 'application', integrity: false %>
    <%= explore_menu_variant.analytics_meta_tag.html_safe if explore_menu_testable? %>
    <% if @content_item %>
      <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item %>
    <% end %>
    <%= yield :extra_headers %>
  </head>

  <body class="mainstream <%= yield :body_classes %>">
    <div id="wrapper" class="govuk-width-container">
      <%= yield %>
      <%= render 'govuk_publishing_components/components/feedback' %>
    </div>
  </body>
</html>
