<% content_for :body do %>
    <%= yield %>
<% end %>

<%= content_for :head do %>
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>
  <%= render_component_stylesheets %>
  <% if @content_item %>
    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.as_hash %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
      title: "#{yield(:title)} - GOV.UK",
      omit_feedback_footer: @omit_feedback_footer
  } do %>
  <div class="govuk-width-container">
    <%= yield :body %>
  </div>
<% end %>